/*----------------------------------------
buttons.css / x
Buttons

Created by Andrey Shpigunov at 20.03.2025
All right reserved.
----------------------------------------*/


/*
  .button
  .button--label
  .button--primary
  .button--success
  .button--warning
  .button--danger
  .button--white
  .button--black
  .button--clear
*/


:root {
  /*
    External variables:
    typo.css
      --font-family
      --font-size
    colors.css
      --color-grey
      --color-primary
      --color-success
      --color-warning
      --color-danger
  */
  
  /* Required variables */
  --button-height-coeff: 2.5;
  --button-side-padding-coeff: 1.25;
  --button-color: var(--color-grey);
  --button-font-family: var(--font-family);
  --button-font-color: #000;
  --button-font-weight: 400;
  --button-transition: all .1s ease-out;
  --button-font-size: var(--font-size);
  --button-transform: translate(0,0);
  --button-transform-hover: none;
  --button-transform-active: translate(0,.1rem);
  --button-transform-origin: center bottom;
  --button-box-shadow: 0 .1rem .1rem #00000011;
  --button-box-shadow-hover: 0 .1rem .1rem #00000022;
  --button-box-shadow-active: inset 0 0 .1rem #00000011;
  --button-disabled-opacity: .5;

  /* Strength of hover (lighten) / active (darken). Override on :root or .button--* to tune. */
  --button-hover-lighten: 10%;
  --button-active-darken: 5%;

  --button-border-radius: calc(var(--button-font-size) * 0.6);
  
  /*
    Additional variables and their default values:
    --button-height: 4rem;
    --button-side-padding: 2rem;
    --button-hover-lighten: 20%  (how much white to mix on hover);
    --button-active-darken: 20%  (how much black to mix on active).
    Override --button-color-hover / --button-color-active for custom behaviour (e.g. .button--clear).
  */
}


.button, [type=submit] {
  /* Computed on the element so var(--button-color) respects .button--primary etc. */
  --button-color-hover: color-mix(in oklab, var(--button-color) calc(100% - var(--button-hover-lighten)), white var(--button-hover-lighten));
  --button-color-active: color-mix(in oklab, var(--button-color) calc(100% - var(--button-active-darken)), black var(--button-active-darken));
  --button-font-color-hover: var(--button-font-color);
  --button-font-color-active: var(--button-font-color);

  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  min-height: var(--button-height, calc(var(--button-font-size) * var(--button-height-coeff)));
  padding: 0 var(--button-side-padding, calc(var(--button-font-size) * var(--button-side-padding-coeff)));
  color: var(--button-font-color);
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  line-height: 1;
  vertical-align: bottom;
  white-space: nowrap;
  text-align: center;
  text-shadow: none;
  text-transform: none;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  border: none;
  border-radius: var(--button-border-radius);
  background-color: var(--button-color);
  transition: var(--button-transition);
  transform: var(--button-transform);
  transform-origin: var(--button-transform-origin);
  user-select: none;
  appearance: none;
  box-shadow: var(--button-box-shadow);
  
  & svg {
    transform: translateZ(0);
  }
  
  &:link,
  &:visited {
    text-decoration: none;
    color: var(--button-font-color);
    background-color: var(--button-color);
    transform: var(--button-transform);
  }
  
  &:focus-visible {
    outline: solid .2rem #8888;
    transition: none;
  }
  
  @media (any-hover: hover) {
    &:focus-visible,
    &:hover,
    &.hover {
      text-decoration: none;
      color: var(--button-font-color-hover);
      background-color: var(--button-color-hover);
      transform: var(--button-transform-hover);
      box-shadow: var(--button-box-shadow-hover);
    }
  }
  
  &:active,
  &.active {
    text-decoration: none;
    color: var(--button-font-color-active);
    background-color: var(--button-color-active);
    transform: var(--button-transform-active);
    box-shadow: var(--button-box-shadow-active);
  }

  &[disabled],
  &.disabled {
    opacity: var(--button-disabled-opacity);
    pointer-events: none;
  }
}


/* Predefined styles */

.button--label {
  --button-height: calc(var(--line-height) * 1em);
  --button-side-padding: .5em;
  --button-font-size: inherit;
  --button-border-radius: .5em;
  vertical-align: baseline;
}

.button--primary {
  --button-color: var(--color-primary);
  --button-font-color: #fff;
}
.button--success {
  --button-color: var(--color-success);
  --button-font-color: #fff;
}
.button--warning {
  --button-color: var(--color-warning);
  --button-font-color: #fff;
}
.button--danger {
  --button-color: var(--color-danger);
  --button-font-color: #fff;
}
.button--white {
  --button-color: #fff;
  --button-font-color: #000;
}
.button--black {
  --button-color: #111;
  --button-font-color: #fff;
}
.button--clear {
  --button-color: transparent;
  --button-box-shadow: none;
  --button-box-shadow-hover: none;
  --button-box-shadow-active: none;
}

.button--tabs {
  display: flex;
  gap: calc(var(--space-1) / 2);
  
  & .button {
    border-radius: 0;
  }
  
  & .button:nth-child(1 of .button:not(.hidden)) {
    border-top-left-radius: var(--button-border-radius);
    border-bottom-left-radius: var(--button-border-radius);
  }
  
  & .button:nth-last-child(1 of .button:not(.hidden)) {
    border-top-right-radius: var(--button-border-radius);
    border-bottom-right-radius: var(--button-border-radius);
  }
}

.button.button--dropdown {
  --button-padding-calculated: calc(var(--button-font-size) * var(--button-side-padding-coeff));
  padding-right: calc(var(--button-side-padding, var(--button-padding-calculated)) * 1.8);

  &::after {
    content: '';
    display: block;
    position: absolute;
    right: var(--button-side-padding, calc(var(--button-font-size) * var(--button-side-padding-coeff)));
    width: .5em;
    height: .5em;
    margin-top: -.05em;
    border-bottom: solid .15rem var(--button-font-color);
    border-right: solid .15rem var(--button-font-color);
    transform: rotate(45deg);
    transform-origin: center;
    will-change: opacity;
    opacity: .4;
    transition: opacity .1s ease-out;
  }
}
.dropdown--bottom .button.button--dropdown::after {
  transform: rotate(225deg);
  margin-top: .3em;
}

.button.button--dropdown.active {
  &::after {
    opacity: 1;
  }
}
