/*----------------------------------------
buttons.css / x
Buttons

Created by Andrey Shpigunov at 20.03.2025
All right reserved.
----------------------------------------*/


/*
  .button
  .button_fs[10-19] step 1 (m,l) - size in rem - 1.0, 1.1, 1.2, ..., 1.9
  .button_fs[20-40] step 2 (m,l) - size in rem - 2.0, 2.2, 2.4, ..., 4.0
  
  .button_label
  .button_primary
  .button_success
  .button_warning
  .button_danger
  .button_white
  .button_black
*/


:root {
  /*
    External variables:
    typo.css
      --font-family
      --font-size
    colors.css
      --color-grey
      --color-primary
      --color-success
      --color-warning
      --color-danger
  */
  
  /* Required variables */
  --button-height-coeff: 2.5;
  --button-side-padding-coeff: 1.25;
  --button-color: var(--color-grey);
  --button-font-color: #000;
  --button-transition: all .1s ease-out;
  --button-font-size: var(--font-size);
  --button-transform: scale(1);
  --button-transform-hover: none;
  --button-transform-active: none;
  --button-transform-origin: center bottom;
  --button-box-shadow: none;
  --button-box-shadow-hover: none;
  --button-box-shadow-active: inset 0 0 2px #0002;
  
  /*
    Additional variables and their default values:
    --button-height: 4rem;
    --button-side-padding: 2rem;
    --button-font-family: var(--font-family);
    --button-font-weight: 400;
    --button-disabled-opacity: .5;
    --button-border-radius: calc(var(--button-font-size) * 0.6);
    --button-color-hover: auto;
    --button-color-active: auto;
    --button-font-color-hover: auto;
    --button-font-color-active: auto;
  */
}


.button, [type=submit] {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: var(--button-height, calc(var(--button-font-size) * var(--button-height-coeff)));
  padding: 0 var(--button-side-padding, calc(var(--button-font-size) * var(--button-side-padding-coeff)));
  color: var(--button-font-color);
  font-family: var(--button-font-family, var(--font-family));
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight, 400);
  vertical-align: bottom;
  white-space: nowrap;
  text-align: center;
  text-shadow: none;
  text-transform: none;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  border: none;
  border-radius: var(--button-border-radius, calc(var(--button-font-size) * 0.6));
  background-color: var(--button-color);
  transition: var(--button-transition);
  transform: var(--button-transform);
  transform-origin: var(--button-transform-origin);
  user-select: none;
  appearance: none;
  box-shadow: var(--button-box-shadow);
  
  &:link,
  &:visited {
    text-decoration: none;
    color: var(--button-font-color);
    background-color: var(--button-color);
    transform: var(--button-transform);
  }
  
  @media (any-hover: hover) {
    &:hover,
    &.hover {
      text-decoration: none;
      color: var(--button-font-color-hover, var(--button-font-color));
      background-color: var(--button-color-hover, color(from var(--button-color) display-p3 calc(r - 0.02) calc(g - 0.02) calc(b - 0.02)));
      transform: var(--button-transform-hover);
      box-shadow: var(--button-box-shadow-hover);
    }
  }
  
  &:active,
  &.active {
    text-decoration: none;
    color: var(--button-font-color-active, var(--button-font-color));
    background-color: var(--button-color-active, color(from var(--button-color) display-p3 calc(r - 0.04) calc(g - 0.04) calc(b - 0.04)));
    transform: var(--button-transform-active);
    box-shadow: var(--button-box-shadow-active);
  }

  &[disabled],
  &.disabled {
    opacity: var(--button-disabled-opacity, .5);
    pointer-events: none;
  }
}


/* Button font sizes */

@for $i from 10 to 19 {
  .button_fs$(i) { --button-font-size: calc($(i)rem / 10) }
}
@for $i from 20 to 80 by 2 {
  .button_fs$(i) { --button-font-size: calc($(i)rem / 10) }
}

@media (--medium) {
  @for $i from 10 to 19 {
    .m\:button_fs$(i) { --button-font-size: calc($(i)rem / 10) }
  }
  @for $i from 20 to 40 by 2 {
    .m\:button_fs$(i) { --button-font-size: calc($(i)rem / 10) }
  }
}

@media (--large) {
  @for $i from 10 to 19 {
    .l\:button_fs$(i) { --button-font-size: calc($(i)rem / 10) }
  }
  @for $i from 20 to 40 by 2 {
    .l\:button_fs$(i) { --button-font-size: calc($(i)rem / 10) }
  }
}

/* Predefined styles */

.button_label {
  --button-height: calc(var(--line-height) * 1em);
  --button-side-padding: .5em;
  --button-font-size: inherit;
  --button-border-radius: .5em;
  vertical-align: baseline;
}

.button_primary {
  --button-color: var(--color-primary);
  --button-font-color: #fff;
}
.button_success {
  --button-color: var(--color-success);
  --button-font-color: #fff;
}
.button_warning {
  --button-color: var(--color-warning);
  --button-font-color: #fff;
}
.button_danger {
  --button-color: var(--color-danger);
  --button-font-color: #fff;
}
.button_white {
  --button-color: #fff;
  --button-font-color: #000;
}
.button_black {
  --button-color: #111;
  --button-font-color: #fff;
}

.button_tabs {
  display: flex;
  gap: calc(var(--space-1) / 2);
  
  & .button {
    border-radius: 0;
  }
  
  & .button:nth-child(1 of .button:not(.hidden)) {
    border-top-left-radius: var(--button-border-radius, calc(var(--button-font-size) * 0.6));
    border-bottom-left-radius: var(--button-border-radius, calc(var(--button-font-size) * 0.6));
  }
  
  & .button:nth-last-child(1 of .button:not(.hidden)) {
    border-top-right-radius: var(--button-border-radius, calc(var(--button-font-size) * 0.6));
    border-bottom-right-radius: var(--button-border-radius, calc(var(--button-font-size) * 0.6));
  }
}
