/*----------------------------------------
debug.css / x
Debug styles (only for CMS)

Created by Andrey Shpigunov at 20.03.2025
All right reserved.
----------------------------------------*/


.debug-info {
  position: fixed;
  z-index: 999999999999;
  inset: 0;
  padding: 4vw;
  background: #00000022;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  
  & * {
    font-family: var(--font-family-mono, monospace);
    font-size: 14px;
    color: #fff;
  }
  
  & .sql-log {
    margin-top: 20px;
    
    & .sql-stat {
      font-weight: 700;
      color: #ff0;
    }
    
    & .sql-queries {
      margin-top: 20px;
      padding-left: 20px;
      list-style-type: decimal;
      
      & li {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        
        & .sql-log-query {
          word-break: break-all;
          background: none;
          border: none;
          
          & .sql {
            color: #ccc;
          }
        }
      }
    }
  }
}
