/*---------------------------
flex.css
x

Created by Andrey Shpigunov on 19.09.2024.
---------------------------*/


/* Flexbox */

.flex {
  display: flex;
  
  &.fr  { flex-direction: row }
  &.fc  { flex-direction: column }
  &.fw  { flex-wrap: wrap }
  &.fnw { flex-wrap: nowrap }
  
  &.ais  { align-items: stretch }
  &.aifs { align-items: flex-start }
  &.aic  { align-items: center }
  &.aife { align-items: flex-end }
  
  &.jcfs { justify-content: flex-start }
  &.jcc  { justify-content: center }
  &.jcfe { justify-content: flex-end }
  &.jcsb { justify-content: space-between }
  &.jcsa { justify-content: space-around }
  &.jcse { justify-content: space-evenly }
  
  @for $i from 0 to 10 {
    & .f$(i) {
      flex: $(i);
    }
    & .fb$(i) {
      flex: 0 0 calc($(i) * 10%);
      max-width: calc($(i) * 10%);
    }
    & .fg$(i) {
      flex-grow: $(i);
    }
  }
  
  @media (--medium) {
    
    &.m\:fr  { flex-direction: row }
    &.m\:fc  { flex-direction: column }
    &.m\:fw  { flex-wrap: wrap }
    &.m\:fnw { flex-wrap: nowrap }
    
    &.m\:ais  { align-items: stretch }
    &.m\:aifs { align-items: flex-start }
    &.m\:aic  { align-items: center }
    &.m\:aife { align-items: flex-end }
    
    &.m\:jcfs { justify-content: flex-start }
    &.m\:jcc  { justify-content: center }
    &.m\:jcfe { justify-content: flex-end }
    &.m\:jcsb { justify-content: space-between }
    &.m\:jcsa { justify-content: space-around }
    &.m\:jcse { justify-content: space-evenly }
    
    @for $i from 0 to 10 {
      & .m\:f$(i) {
        flex: $(i);
      }
      & .m\:fb$(i) {
        flex: 0 0 calc($(i) * 10%);
        max-width: calc($(i) * 10%);
      }
      & .m\:fg$(i) {
        flex-grow: $(i);
      }
    }
  }
  
  @media (--large) {
    
    &.l\:fr  { flex-direction: row }
    &.l\:fc  { flex-direction: column }
    &.l\:fw  { flex-wrap: wrap }
    &.l\:fnw { flex-wrap: nowrap }
    
    &.l\:ais  { align-items: stretch }
    &.l\:aifs { align-items: flex-start }
    &.l\:aic  { align-items: center }
    &.l\:aife { align-items: flex-end }
    
    &.l\:jcfs { justify-content: flex-start }
    &.l\:jcc  { justify-content: center }
    &.l\:jcfe { justify-content: flex-end }
    &.l\:jcsb { justify-content: space-between }
    &.l\:jcsa { justify-content: space-around }
    &.l\:jcse { justify-content: space-evenly }
    
    @for $i from 0 to 10 {
      & .l\:f$(i) {
        flex: $(i);
      }
      & .l\:fb$(i) {
        flex: 0 0 calc($(i) * 10%);
        max-width: calc($(i) * 10%);
      }
      & .l\:fg$(i) {
        flex-grow: $(i);
      }
    }
  }
  
  @media (--xlarge) {
    
    &.xl\:fr  { flex-direction: row }
    &.xl\:fc  { flex-direction: column }
    &.xl\:fw  { flex-wrap: wrap }
    &.xl\:fnw { flex-wrap: nowrap }
    
    &.xl\:ais  { align-items: stretch }
    &.xl\:aifs { align-items: flex-start }
    &.xl\:aic  { align-items: center }
    &.xl\:aife { align-items: flex-end }
    
    &.xl\:jcfs { justify-content: flex-start }
    &.xl\:jcc  { justify-content: center }
    &.xl\:jcfe { justify-content: flex-end }
    &.xl\:jcsb { justify-content: space-between }
    &.xl\:jcsa { justify-content: space-around }
    &.xl\:jcse { justify-content: space-evenly }
    
    @for $i from 0 to 10 {
      & .xl\:f$(i) {
        flex: $(i);
      }
      & .xl\:fb$(i) {
        flex: 0 0 calc($(i) * 10%);
        max-width: calc($(i) * 10%);
      }
      & .xl\:fg$(i) {
        flex-grow: $(i);
      }
    }
  }
  
}
