/*---------------------------
flow.css
x

Created by Andrey Shpigunov on 19.09.2024.
---------------------------*/


/* Vertical flow of elements with margin-top space  */

.flow {
    
    & > * { margin: 0 }
    
    @for $i from 0 to 10 {
        &.s$(i) > * {
            margin-top: var(--space-$(i));
        }
    }
    
    @media(--medium){
        @for $i from 0 to 10 {
            &.md\:s$(i) > * {
                margin-top: var(--space-$(i));
            }
        }
    }
    
    @media(--small){
        @for $i from 0 to 10 {
            &.sm\:s$(i) > * {
                margin-top: var(--space-$(i));
            }
        }
    }
    
    & > *:first-child { margin-top: 0 }
}
