/*---------------------------
helpers.css
x

Created by Andrey Shpigunov on 08.09.2024.
---------------------------*/


/* Helpers – small help for you code. */

:root {
    --container-max-width: 1600px;
}


/* !- Container */
.container {
    max-width: var(--container-max-width);
    margin: 0 auto;
}


/* !- Unselectable, unclickable */
.unselectable,
.unselectable * {
    user-select: none;
}
.unclickable,
.unclickable * {
    pointer-events: none;
}
.clear::after {
    content: "";
    display: table;
    width: 100%;
    clear: both;
}

/* !- Text helpers */
.uppercase {
    text-transform: uppercase !important;
    letter-spacing: 1px;
}
.lowercase {
    text-transform: lowercase !important;
}
.nowrap {
    white-space: nowrap !important;
}
.wrap {
    white-space: normal !important;
}
.hyphens {
    hyphens: auto;
}
.pointer {
    cursor: pointer;
}
.toe {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


/* !- Overflow */
.oh {
    overflow: hidden;
}


/* !- Touch show/hide */
.touch-show { display: none }
html.touch .touch-show { display: block }
html.touch .touch-hide { display: none }


/* !- Position */
/* .rel { position: relative }
.abs { position: absolute }
.fix { position: fixed }
@media (--medium) {
    .md\:rel { position: relative }
    .md\:abs { position: absolute }
    .md\:fix { position: fixed }
}
@media (--small) {
    .sm\:rel { position: relative }
    .sm\:abs { position: absolute }
    .sm\:fix { position: fixed }
} */


/* !- Object fit */
.fit-none,
.fit-cover,
.fit-contain {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}
.fit-none { object-fit: none }
.fit-cover { object-fit: cover }
.fit-contain { object-fit: contain }
@media (--large) {
    .lg\:fit-none { object-fit: none }
    .lg\:fit-cover { object-fit: cover }
    .lg\:fit-contain { object-fit: contain }
}
@media (--medium) {
    .md\:fit-none { object-fit: none }
    .md\:fit-cover { object-fit: cover }
    .md\:fit-contain { object-fit: contain }
}
@media (--small) {
    .sm\:fit-none { object-fit: none }
    .sm\:fit-cover { object-fit: cover }
    .sm\:fit-contain { object-fit: contain }
}
@media (--xsmall) {
    .xs\:fit-none { object-fit: none }
    .xs\:fit-cover { object-fit: cover }
    .xs\:fit-contain { object-fit: contain }
}


/* !- Top, bottom, z-index */
@for $i from 0 to 10 {
    .t$(i) { top: var(--space-$(i)) !important; }
    .b$(i) { bottom: var(--space-$(i)) !important; }
    .z$(i) { z-index: var(--space-$(i)) !important; }
}
@media (--large) {
    @for $i from 0 to 10 {
        .lg\:t$(i) { top: var(--space-$(i)) !important; }
        .lg\:b$(i) { bottom: var(--space-$(i)) !important; }
        .lg\:z$(i) { z-index: var(--space-$(i)) !important; }
    }
}
@media (--medium) {
    @for $i from 0 to 10 {
        .md\:t$(i) { top: var(--space-$(i)) !important; }
        .md\:b$(i) { bottom: var(--space-$(i)) !important; }
        .md\:z$(i) { z-index: var(--space-$(i)) !important; }
    }
}
@media (--small) {
    @for $i from 0 to 10 {
        .sm\:t$(i) { top: var(--space-$(i)) !important; }
        .sm\:b$(i) { bottom: var(--space-$(i)) !important; }
        .sm\:z$(i) { z-index: var(--space-$(i)) !important; }
    }
}
@media (--xsmall) {
    @for $i from 0 to 10 {
        .xs\:t$(i) { top: var(--space-$(i)) !important; }
        .xs\:b$(i) { bottom: var(--space-$(i)) !important; }
        .xs\:z$(i) { z-index: var(--space-$(i)) !important; }
    }
}

/* !- Opacity */
@for $i from 0 to 10 {
    .op$(i) { opacity: calc($(i) / 10) !important }
}
@media (--large) {
    @for $i from 0 to 10 {
        .lg\:op$(i) { opacity: calc($(i) / 10) !important }
    }
}
@media (--medium) {
    @for $i from 0 to 10 {
        .md\:op$(i) { opacity: calc($(i) / 10) !important }
    }
}
@media (--small) {
    @for $i from 0 to 10 {
        .sm\:op$(i) { opacity: calc($(i) / 10) !important }
    }
}
@media (--xsmall) {
    @for $i from 0 to 10 {
        .xs\:op$(i) { opacity: calc($(i) / 10) !important }
    }
}


/* !- Ratio */
.ratio,
.ratio1x1,
.ratio2x1,
.ratio3x1,
.ratio4x1,
.ratio3x2,
.ratio4x3,
.ratio16x9,
.ratio1x2,
.ratio1x3,
.ratio1x4,
.ratio2x3,
.ratio3x4,
.ratio9x16 {
    overflow: hidden;
    position: relative;
    height: 0;
    
    & > video,
    & > iframe,
    & > object,
    & > embed,
    & > img,
    & > a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    & > img {
        object-fit: cover;
    }
}

/* Square */
.ratio1x1 { padding-bottom: 100% !important }
/* Landscape */
.ratio2x1 { padding-bottom: 50% !important }
.ratio3x1 { padding-bottom: 33.33% !important }
.ratio4x1 { padding-bottom: 25% !important }
.ratio3x2 { padding-bottom: 66.67% !important }
.ratio4x3 { padding-bottom: 75% !important }
.ratio16x9 { padding-bottom: 56.25% !important }
/* Portrait */
.ratio1x2 { padding-bottom: 200% !important }
.ratio1x3 { padding-bottom: 300% !important }
.ratio1x4 { padding-bottom: 400% !important }
.ratio2x3 { padding-bottom: 150% !important }
.ratio3x4 { padding-bottom: 133.33% !important }
.ratio9x16 { padding-bottom: 177.77% !important }

@media (--large) {
    /* Square */
    .lg\:ratio1x1 { padding-bottom: 100% !important }
    /* Landscape */
    .lg\:ratio2x1 { padding-bottom: 50% !important }
    .lg\:ratio3x1 { padding-bottom: 33.33% !important }
    .lg\:ratio4x1 { padding-bottom: 25% !important }
    .lg\:ratio3x2 { padding-bottom: 66.67% !important }
    .lg\:ratio4x3 { padding-bottom: 75% !important }
    .lg\:ratio16x9 { padding-bottom: 56.25% !important }
    /* Portrait */
    .lg\:ratio1x2 { padding-bottom: 200% !important }
    .lg\:ratio1x3 { padding-bottom: 300% !important }
    .lg\:ratio1x4 { padding-bottom: 400% !important }
    .lg\:ratio2x3 { padding-bottom: 150% !important }
    .lg\:ratio3x4 { padding-bottom: 133.33% !important }
    .lg\:ratio9x16 { padding-bottom: 177.77% !important }
}

@media (--medium) {
    /* Square */
    .md\:ratio1x1 { padding-bottom: 100% !important }
    /* Landscape */
    .md\:ratio2x1 { padding-bottom: 50% !important }
    .md\:ratio3x1 { padding-bottom: 33.33% !important }
    .md\:ratio4x1 { padding-bottom: 25% !important }
    .md\:ratio3x2 { padding-bottom: 66.67% !important }
    .md\:ratio4x3 { padding-bottom: 75% !important }
    .md\:ratio16x9 { padding-bottom: 56.25% !important }
    /* Portrait */
    .md\:ratio1x2 { padding-bottom: 200% !important }
    .md\:ratio1x3 { padding-bottom: 300% !important }
    .md\:ratio1x4 { padding-bottom: 400% !important }
    .md\:ratio2x3 { padding-bottom: 150% !important }
    .md\:ratio3x4 { padding-bottom: 133.33% !important }
    .md\:ratio9x16 { padding-bottom: 177.77% !important }
}

@media (--small) {
    /* Square */
    .sm\:ratio1x1 { padding-bottom: 100% !important }
    /* Landscape */
    .sm\:ratio2x1 { padding-bottom: 50% !important }
    .sm\:ratio3x1 { padding-bottom: 33.33% !important }
    .sm\:ratio4x1 { padding-bottom: 25% !important }
    .sm\:ratio3x2 { padding-bottom: 66.67% !important }
    .sm\:ratio4x3 { padding-bottom: 75% !important }
    .sm\:ratio16x9 { padding-bottom: 56.25% !important }
    /* Portrait */
    .sm\:ratio1x2 { padding-bottom: 200% !important }
    .sm\:ratio1x3 { padding-bottom: 300% !important }
    .sm\:ratio1x4 { padding-bottom: 400% !important }
    .sm\:ratio2x3 { padding-bottom: 150% !important }
    .sm\:ratio3x4 { padding-bottom: 133.33% !important }
    .sm\:ratio9x16 { padding-bottom: 177.77% !important }
}


/* !- Break word, invisible, scroll */
.breakWord {
    overflow-wrap: anywhere;
    word-break: break-word;
}
.visuallyHidden {
    position: absolute;
    top: 0;
    left: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}
.noBorder {
    border: none !important;
}
.invisible {
    visibility: hidden !important;
}
.scrollResponsive {
    overflow-x: auto;
}


/* !- Hidden */
.hidden,
.hiddenNext + * {
    display: none !important;
}
@media (--xlarge-min) {
    .xl\:hidden,
    .xl\:hiddenNext + * {
        display: none !important;
    }
}
@media (--large-min) and (--large-max) {
    .lg\:hidden,
    .lg\:hiddenNext + * {
        display: none !important;
    }
}
@media (--medium-min) and (--medium-max) {
    .md\:hidden,
    .md\:hiddenNext + * {
        display: none !important;
    }
}
@media (--small-min) and (--small-max) {
    .sm\:hidden,
    .sm\:hiddenNext + * {
        display: none !important;
    }
}
@media (--xsmall-max) {
    .xs\:hidden,
    .xs\:hiddenNext + * {
        display: none !important;
    }
}


/* !- Width, height */
.maxw { width: 100% }
.maxh { height: 100% }
.max {
    width: 100% !important;
    max-width: 100% !important;
}

@for $i from 10 to 190 by 10 {
    .w$(i)   { width: $(i)px !important }
    .max$(i) { max-width: $(i)px !important }
    .min$(i) { min-width: $(i)px !important }
}
@for $i from 200 to 380 by 20 {
    .w$(i)   { width: $(i)px !important }
    .max$(i) { max-width: $(i)px !important }
    .min$(i) { min-width: $(i)px !important }
}
@for $i from 400 to 1600 by 100 {
    .w$(i)   { width: $(i)px !important }
    .max$(i) { max-width: $(i)px !important }
    .min$(i) { min-width: $(i)px !important }
}

@media (--large) {
    .lg\:maxw { width: 100% }
    .lg\:maxh { height: 100% }
    .lg\:max {
        width: 100% !important;
        max-width: 100% !important;
    }
    
    @for $i from 10 to 190 by 10 {
        .lg\:w$(i)   { width: $(i)px !important }
        .lg\:max$(i) { max-width: $(i)px !important }
        .lg\:min$(i) { min-width: $(i)px !important }
    }
    @for $i from 200 to 380 by 20 {
        .lg\:w$(i)   { width: $(i)px !important }
        .lg\:max$(i) { max-width: $(i)px !important }
        .lg\:min$(i) { min-width: $(i)px !important }
    }
    @for $i from 400 to 1600 by 100 {
        .lg\:w$(i)   { width: $(i)px !important }
        .lg\:max$(i) { max-width: $(i)px !important }
        .lg\:min$(i) { min-width: $(i)px !important }
    }
}

@media (--medium) {
    .md\:maxw { width: 100% }
    .md\:maxh { height: 100% }
    .md\:max {
        width: 100% !important;
        max-width: 100% !important;
    }
    
    @for $i from 10 to 190 by 10 {
        .md\:w$(i)   { width: $(i)px !important }
        .md\:max$(i) { max-width: $(i)px !important }
        .md\:min$(i) { min-width: $(i)px !important }
    }
    @for $i from 200 to 380 by 20 {
        .md\:w$(i)   { width: $(i)px !important }
        .md\:max$(i) { max-width: $(i)px !important }
        .md\:min$(i) { min-width: $(i)px !important }
    }
    @for $i from 400 to 1600 by 100 {
        .md\:w$(i)   { width: $(i)px !important }
        .md\:max$(i) { max-width: $(i)px !important }
        .md\:min$(i) { min-width: $(i)px !important }
    }
}

@media (--small) {
    .sm\:maxw { width: 100% }
    .sm\:maxh { height: 100% }
    .sm\:max {
        width: 100% !important;
        max-width: 100% !important;
    }
    
    @for $i from 10 to 190 by 10 {
        .sm\:w$(i)   { width: $(i)px !important }
        .sm\:max$(i) { max-width: $(i)px !important }
        .sm\:min$(i) { min-width: $(i)px !important }
    }
    @for $i from 200 to 380 by 20 {
        .sm\:w$(i)   { width: $(i)px !important }
        .sm\:max$(i) { max-width: $(i)px !important }
        .sm\:min$(i) { min-width: $(i)px !important }
    }
    @for $i from 400 to 1600 by 100 {
        .sm\:w$(i)   { width: $(i)px !important }
        .sm\:max$(i) { max-width: $(i)px !important }
        .sm\:min$(i) { min-width: $(i)px !important }
    }
}

@media (--xsmall) {
    .xs\:maxw { width: 100% }
    .xs\:maxh { height: 100% }
    .xs\:max {
        width: 100% !important;
        max-width: 100% !important;
    }
    
    @for $i from 10 to 190 by 10 {
        .xs\:w$(i)   { width: $(i)px !important }
        .xs\:max$(i) { max-width: $(i)px !important }
        .xs\:min$(i) { min-width: $(i)px !important }
    }
    @for $i from 200 to 380 by 20 {
        .xs\:w$(i)   { width: $(i)px !important }
        .xs\:max$(i) { max-width: $(i)px !important }
        .xs\:min$(i) { min-width: $(i)px !important }
    }
    @for $i from 400 to 1600 by 100 {
        .xs\:w$(i)   { width: $(i)px !important }
        .xs\:max$(i) { max-width: $(i)px !important }
        .xs\:min$(i) { min-width: $(i)px !important }
    }
}


/* !- Block/Inline */
.block { display: block }
.inline { display: inline }
.inlineBlock { display: inline-block }

@media (--large) {
    .lg\:block { display: block }
    .lg\:inline { display: inline }
    .lg\:inlineBlock { display: inline-block }
}

@media (--medium) {
    .md\:block { display: block }
    .md\:inline { display: inline }
    .md\:inlineBlock { display: inline-block }
}

@media (--small) {
    .sm\:block { display: block }
    .sm\:inline { display: inline }
    .sm\:inlineBlock { display: inline-block }
}


/* !- Text align */
.al { text-align: left !important }
.ar { text-align: right !important }
.ac { text-align: center !important }
.aj { text-align: justify !important }

@media (--large) {
    .lg\:al { text-align: left !important }
    .lg\:ar { text-align: right !important }
    .lg\:ac { text-align: center !important }
    .lg\:aj { text-align: justify !important }
}

@media (--medium) {
    .md\:al { text-align: left !important }
    .md\:ar { text-align: right !important }
    .md\:ac { text-align: center !important }
    .md\:aj { text-align: justify !important }
}

@media (--small) {
    .sm\:al { text-align: left !important }
    .sm\:ar { text-align: right !important }
    .sm\:ac { text-align: center !important }
    .sm\:aj { text-align: justify !important }
}

@media (--xsmall) {
    .xs\:al { text-align: left !important }
    .xs\:ar { text-align: right !important }
    .xs\:ac { text-align: center !important }
    .xs\:aj { text-align: justify !important }
}


/* !- Float */
.fl { float: left }
.fr { float: right }

@media (--large) {
    .lg\:fl { float: left }
    .lg\:fr { float: right }
}

@media (--medium) {
    .md\:fl { float: left }
    .md\:fr { float: right }
}

@media (--small) {
    .sm\:fl { float: left }
    .sm\:fr { float: right }
}


/* !- Margin */
@for $i from 0 to 10 {
    .m$(i)  { margin: var(--space-$(i)) !important }
    .mx$(i) { margin-left: var(--space-$(i)) !important; margin-right: var(--space-$(i)) !important }
    .my$(i) { margin-top: var(--space-$(i)) !important; margin-bottom: var(--space-$(i)) !important }
    .mt$(i) { margin-top: var(--space-$(i)) !important }
    .mb$(i) { margin-bottom: var(--space-$(i)) !important }
    .ml$(i) { margin-left: var(--space-$(i)) !important }
    .mr$(i) { margin-right: var(--space-$(i)) !important }
}
.ma  { margin: auto !important }
.mxa { margin-left: auto !important; margin-right: auto !important }
.mya { margin-top: auto !important; margin-bottom: auto !important }
.mta { margin-top: auto !important }
.mba { margin-bottom: auto !important }
.mla { margin-left: auto !important }
.mra { margin-right: auto !important }

@media (--large) {
    @for $i from 0 to 10 {
        .lg\:m$(i)  { margin: var(--space-$(i)) !important }
        .lg\:mx$(i) { margin-left: var(--space-$(i)) !important; margin-right: var(--space-$(i)) !important }
        .lg\:my$(i) { margin-top: var(--space-$(i)) !important; margin-bottom: var(--space-$(i)) !important }
        .lg\:mt$(i) { margin-top: var(--space-$(i)) !important }
        .lg\:mb$(i) { margin-bottom: var(--space-$(i)) !important }
        .lg\:ml$(i) { margin-left: var(--space-$(i)) !important }
        .lg\:mr$(i) { margin-right: var(--space-$(i)) !important }
    }
    .lg\:ma  { margin: auto !important }
    .lg\:mxa { margin-left: auto !important; margin-right: auto !important }
    .lg\:mya { margin-top: auto !important; margin-bottom: auto !important }
    .lg\:mta { margin-top: auto !important }
    .lg\:mba { margin-bottom: auto !important }
    .lg\:mla { margin-left: auto !important }
    .lg\:mra { margin-right: auto !important }
}

@media (--medium) {
    @for $i from 0 to 10 {
        .md\:m$(i)  { margin: var(--space-$(i)) !important }
        .md\:mx$(i) { margin-left: var(--space-$(i)) !important; margin-right: var(--space-$(i)) !important }
        .md\:my$(i) { margin-top: var(--space-$(i)) !important; margin-bottom: var(--space-$(i)) !important }
        .md\:mt$(i) { margin-top: var(--space-$(i)) !important }
        .md\:mb$(i) { margin-bottom: var(--space-$(i)) !important }
        .md\:ml$(i) { margin-left: var(--space-$(i)) !important }
        .md\:mr$(i) { margin-right: var(--space-$(i)) !important }
    }
    .md\:ma  { margin: auto !important }
    .md\:mxa { margin-left: auto !important; margin-right: auto !important }
    .md\:mya { margin-top: auto !important; margin-bottom: auto !important }
    .md\:mta { margin-top: auto !important }
    .md\:mba { margin-bottom: auto !important }
    .md\:mla { margin-left: auto !important }
    .md\:mra { margin-right: auto !important }
}

@media (--small) {
    @for $i from 0 to 10 {
        .sm\:m$(i)  { margin: var(--space-$(i)) !important }
        .sm\:mx$(i) { margin-left: var(--space-$(i)) !important; margin-right: var(--space-$(i)) !important }
        .sm\:my$(i) { margin-top: var(--space-$(i)) !important; margin-bottom: var(--space-$(i)) !important }
        .sm\:mt$(i) { margin-top: var(--space-$(i)) !important }
        .sm\:mb$(i) { margin-bottom: var(--space-$(i)) !important }
        .sm\:ml$(i) { margin-left: var(--space-$(i)) !important }
        .sm\:mr$(i) { margin-right: var(--space-$(i)) !important }
    }
    .sm\:ma  { margin: auto !important }
    .sm\:mxa { margin-left: auto !important; margin-right: auto !important }
    .sm\:mya { margin-top: auto !important; margin-bottom: auto !important }
    .sm\:mta { margin-top: auto !important }
    .sm\:mba { margin-bottom: auto !important }
    .sm\:mla { margin-left: auto !important }
    .sm\:mra { margin-right: auto !important }
}

@media (--xsmall) {
    @for $i from 0 to 10 {
        .xs\:m$(i)  { margin: var(--space-$(i)) !important }
        .xs\:mx$(i) { margin-left: var(--space-$(i)) !important; margin-right: var(--space-$(i)) !important }
        .xs\:my$(i) { margin-top: var(--space-$(i)) !important; margin-bottom: var(--space-$(i)) !important }
        .xs\:mt$(i) { margin-top: var(--space-$(i)) !important }
        .xs\:mb$(i) { margin-bottom: var(--space-$(i)) !important }
        .xs\:ml$(i) { margin-left: var(--space-$(i)) !important }
        .xs\:mr$(i) { margin-right: var(--space-$(i)) !important }
    }
    .xs\:ma  { margin: auto !important }
    .xs\:mxa { margin-left: auto !important; margin-right: auto !important }
    .xs\:mya { margin-top: auto !important; margin-bottom: auto !important }
    .xs\:mta { margin-top: auto !important }
    .xs\:mba { margin-bottom: auto !important }
    .xs\:mla { margin-left: auto !important }
    .xs\:mra { margin-right: auto !important }
}


/* !- Padding */
@for $i from 0 to 10 {
    .p$(i)  { padding: var(--space-$(i)) !important }
    .px$(i) { padding-left: var(--space-$(i)) !important; padding-right: var(--space-$(i)) !important }
    .py$(i) { padding-top: var(--space-$(i)) !important; padding-bottom: var(--space-$(i)) !important }
    .pt$(i) { padding-top: var(--space-$(i)) !important }
    .pb$(i) { padding-bottom: var(--space-$(i)) !important }
    .pl$(i) { padding-left: var(--space-$(i)) !important }
    .pr$(i) { padding-right: var(--space-$(i)) !important }
}

@media (--large) {
    @for $i from 0 to 10 {
        .lg\:p$(i)  { padding: var(--space-$(i)) !important }
        .lg\:px$(i) { padding-left: var(--space-$(i)) !important; padding-right: var(--space-$(i)) !important }
        .lg\:py$(i) { padding-top: var(--space-$(i)) !important; padding-bottom: var(--space-$(i)) !important }
        .lg\:pt$(i) { padding-top: var(--space-$(i)) !important }
        .lg\:pb$(i) { padding-bottom: var(--space-$(i)) !important }
        .lg\:pl$(i) { padding-left: var(--space-$(i)) !important }
        .lg\:pr$(i) { padding-right: var(--space-$(i)) !important }
    }
}

@media (--medium) {
    @for $i from 0 to 10 {
        .md\:p$(i)  { padding: var(--space-$(i)) !important }
        .md\:px$(i) { padding-left: var(--space-$(i)) !important; padding-right: var(--space-$(i)) !important }
        .md\:py$(i) { padding-top: var(--space-$(i)) !important; padding-bottom: var(--space-$(i)) !important }
        .md\:pt$(i) { padding-top: var(--space-$(i)) !important }
        .md\:pb$(i) { padding-bottom: var(--space-$(i)) !important }
        .md\:pl$(i) { padding-left: var(--space-$(i)) !important }
        .md\:pr$(i) { padding-right: var(--space-$(i)) !important }
    }
}

@media (--small) {
    @for $i from 0 to 10 {
        .sm\:p$(i)  { padding: var(--space-$(i)) !important }
        .sm\:px$(i) { padding-left: var(--space-$(i)) !important; padding-right: var(--space-$(i)) !important }
        .sm\:py$(i) { padding-top: var(--space-$(i)) !important; padding-bottom: var(--space-$(i)) !important }
        .sm\:pt$(i) { padding-top: var(--space-$(i)) !important }
        .sm\:pb$(i) { padding-bottom: var(--space-$(i)) !important }
        .sm\:pl$(i) { padding-left: var(--space-$(i)) !important }
        .sm\:pr$(i) { padding-right: var(--space-$(i)) !important }
    }
}

@media (--xsmall) {
    @for $i from 0 to 10 {
        .xs\:p$(i)  { padding: var(--space-$(i)) !important }
        .xs\:px$(i) { padding-left: var(--space-$(i)) !important; padding-right: var(--space-$(i)) !important }
        .xs\:py$(i) { padding-top: var(--space-$(i)) !important; padding-bottom: var(--space-$(i)) !important }
        .xs\:pt$(i) { padding-top: var(--space-$(i)) !important }
        .xs\:pb$(i) { padding-bottom: var(--space-$(i)) !important }
        .xs\:pl$(i) { padding-left: var(--space-$(i)) !important }
        .xs\:pr$(i) { padding-right: var(--space-$(i)) !important }
    }
}

/* !- Gap */
@for $i from 0 to 10 {
    .gap$(i) { gap: var(--space-$(i)) !important }
    .gapx$(i) { column-gap: var(--space-$(i)) !important }
    .gapy$(i) { row-gap: var(--space-$(i)) !important }
}

@media (--large) {
    @for $i from 0 to 10 {
        .lg\:gap$(i) { gap: var(--space-$(i)) !important }
        .lg\:gapx$(i) { column-gap: var(--space-$(i)) !important }
        .lg\:gapy$(i) { row-gap: var(--space-$(i)) !important }
    }
}

@media (--medium) {
    @for $i from 0 to 10 {
        .md\:gap$(i) { gap: var(--space-$(i)) !important }
        .md\:gapx$(i) { column-gap: var(--space-$(i)) !important }
        .md\:gapy$(i) { row-gap: var(--space-$(i)) !important }
    }
}

@media (--small) {
    @for $i from 0 to 10 {
        .sm\:gap$(i) { gap: var(--space-$(i)) !important }
        .sm\:gapx$(i) { column-gap: var(--space-$(i)) !important }
        .sm\:gapy$(i) { row-gap: var(--space-$(i)) !important }
    }
}

@media (--xsmall) {
    @for $i from 0 to 10 {
        .xs\:gap$(i) { gap: var(--space-$(i)) !important }
        .xs\:gapx$(i) { column-gap: var(--space-$(i)) !important }
        .xs\:gapy$(i) { row-gap: var(--space-$(i)) !important }
    }
}

/* !- Border radius */
@for $i from 0 to 10 {
    .r$(i) { border-radius: var(--space-$(i)) !important }
}
.r100 { border-radius: 100% !important }

@media (--large) {
    @for $i from 0 to 10 {
        .lg\:r$(i) { border-radius: var(--space-$(i)) !important }
    }
    .lg\:r100 { border-radius: 100% !important }
}

@media (--medium) {
    @for $i from 0 to 10 {
        .md\:r$(i) { border-radius: var(--space-$(i)) !important }
    }
    .md\:r100 { border-radius: 100% !important }
}

@media (--small) {
    @for $i from 0 to 10 {
        .sm\:r$(i) { border-radius: var(--space-$(i)) !important }
    }
    .sm\:r100 { border-radius: 100% !important }
}

@media (--xsmall) {
    @for $i from 0 to 10 {
        .xs\:r$(i) { border-radius: var(--space-$(i)) !important }
    }
    .xs\:r100 { border-radius: 100% !important }
}


/* !- Shadows */
.sh0 { box-shadow: none }
.sh1 { box-shadow: 4px 4px 20px rgba(0,0,0,.05) }
.sh2 { box-shadow: 4px 4px 20px rgba(0,0,0,.1) }
.sh3 { box-shadow: 4px 4px 20px rgba(0,0,0,.15) }
.sh4 { box-shadow: 4px 4px 20px rgba(0,0,0,.2) }

@media (--large) {
    .lg\:sh0 { box-shadow: none }
    .lg\:sh1 { box-shadow: 4px 4px 20px rgba(0,0,0,.05) }
    .lg\:sh2 { box-shadow: 4px 4px 20px rgba(0,0,0,.1) }
    .lg\:sh3 { box-shadow: 4px 4px 20px rgba(0,0,0,.15) }
    .lg\:sh4 { box-shadow: 4px 4px 20px rgba(0,0,0,.2) }
}

@media (--medium) {
    .md\:sh0 { box-shadow: none }
    .md\:sh1 { box-shadow: 4px 4px 20px rgba(0,0,0,.05) }
    .md\:sh2 { box-shadow: 4px 4px 20px rgba(0,0,0,.1) }
    .md\:sh3 { box-shadow: 4px 4px 20px rgba(0,0,0,.15) }
    .md\:sh4 { box-shadow: 4px 4px 20px rgba(0,0,0,.2) }
}

@media (--small) {
    .sm\:sh0 { box-shadow: none }
    .sm\:sh1 { box-shadow: 4px 4px 20px rgba(0,0,0,.05) }
    .sm\:sh2 { box-shadow: 4px 4px 20px rgba(0,0,0,.1) }
    .sm\:sh3 { box-shadow: 4px 4px 20px rgba(0,0,0,.15) }
    .sm\:sh4 { box-shadow: 4px 4px 20px rgba(0,0,0,.2) }
}

@media (--xsmall) {
    .xs\:sh0 { box-shadow: none }
    .xs\:sh1 { box-shadow: 4px 4px 20px rgba(0,0,0,.05) }
    .xs\:sh2 { box-shadow: 4px 4px 20px rgba(0,0,0,.1) }
    .xs\:sh3 { box-shadow: 4px 4px 20px rgba(0,0,0,.15) }
    .xs\:sh4 { box-shadow: 4px 4px 20px rgba(0,0,0,.2) }
}


/* !- Opacity */
@for $i from 0 to 10 {
    .o$(i) { order: $(i) }
}
@media (--large) {
    @for $i from 0 to 10 {
        .lg\:o$(i) { order: $(i) }
    }
}
@media (--media) {
    @for $i from 0 to 10 {
        .md\:o$(i) { order: $(i) }
    }
}
@media (--small) {
    @for $i from 0 to 10 {
        .sm\:o$(i) { order: $(i) }
    }
}
@media (--xsmall) {
    @for $i from 0 to 10 {
        .xs\:o$(i) { order: $(i) }
    }
}


/* !- Print */
@media print {
    .noPrint {
        display: none;
    }
}
