/*----------------------------------------
helpers.css / x
Helpers

Created by Andrey Shpigunov at 20.03.2025
All right reserved.
----------------------------------------*/


/* !- Helpers – small help for you code. */


/*
  .antialiased
  .container
  .unselectable
  .unclickable
  .upper
  .lower
  .nowrap
  .hyphens
  .pointer
  .toe - text-overflow: ellipsis
  .lc[1-5] (m,l,xl) — text line clamp
  .oh
  .touch-show
  .touch-hide
  .rel
  .abs
  .ins
  .fit-none    (m,l,xl)
  .fit-cover   (m,l,xl)
  .fit-contain (m,l,xl)
  .t[0-10]   (m,l,xl)
  .b[0-10]   (m,l,xl)
  .z[0-10]   (m,l,xl)
  .z[0-10]   (m,l,xl)
  .op[0-10]  (m,l,xl)
  .ratio1x1  (m,l,xl)
  .ratio2x1  (m,l,xl)
  .ratio3x1  (m,l,xl)
  .ratio4x1  (m,l,xl)
  .ratio3x2  (m,l,xl)
  .ratio4x3  (m,l,xl)
  .ratio16x9 (m,l,xl)
  .ratio1x2  (m,l,xl)
  .ratio1x3  (m,l,xl)
  .ratio1x4  (m,l,xl)
  .ratio2x3  (m,l,xl)
  .ratio3x4  (m,l,xl)
  .ratio9x16 (m,l,xl)
  .breakWord
  .visuallyHidden
  .invisible
  .scrollResponsive
  .hidden     =(s,m,l)
  .hiddenNext =(s,m,l)
  .dark:hidden  =(s,m,l)
  .light:hidden =(s,m,l)
  .fullscreen
  .max (m,l,xl)
  .w[10-190] step 10      (m,l,xl)
  .w[200-380] step 20     (m,l,xl)
  .w[400-1600] step 100   (m,l,xl)
  .max[10-190] step 10    (m,l,xl)
  .max[200-380] step 20   (m,l,xl)
  .max[400-1600] step 100 (m,l,xl)
  .min[10-190] step 10    (m,l,xl)
  .min[200-380] step 20   (m,l,xl)
  .min[400-1600] step 100 (m,l,xl)
  .block       (m,l,xl)
  .inline      (m,l,xl)
  .inlineBlock (m,l,xl)
  .al (m,l,xl)
  .ar (m,l,xl)
  .ac (m,l,xl)
  .aj (m,l,xl)
  .m[0-10]  (m,l,xl)
  .mx[0-10] (m,l,xl)
  .my[0-10] (m,l,xl)
  .mt[0-10] (m,l,xl)
  .mb[0-10] (m,l,xl)
  .ml[0-10] (m,l,xl)
  .mr[0-10] (m,l,xl)
  .ma  (m,l,xl)
  .mxa (m,l,xl)
  .mya (m,l,xl)
  .mta (m,l,xl)
  .mba (m,l,xl)
  .mla (m,l,xl)
  .mra (m,l,xl)
  .p[0-10]  (m,l,xl)
  .px[0-10] (m,l,xl)
  .py[0-10] (m,l,xl)
  .pt[0-10] (m,l,xl)
  .pb[0-10] (m,l,xl)
  .pl[0-10] (m,l,xl)
  .pr[0-10] (m,l,xl)
  .gap[0-10]  (m,l,xl)
  .gapx[0-10] (m,l,xl)
  .gapy[0-10] (m,l,xl)
  .r[0-10] (m,l,xl)
  .r100 (m,l,xl)
  .sh[0-10] (m,l)
  .o[0-12] (m,l,xl)
  .noPrint
*/


:root {
  --container-max-width: 160rem;
  
  --shadow-1:  0 2px 4px #00000018;
  --shadow-2:  0 4px 8px #00000018;
  --shadow-3:  0 6px 12px #00000018;
  --shadow-4:  0 8px 16px #00000018;
  --shadow-5:  0 10px 20px #00000018;
  --shadow-6:  0 12px 24px #00000018;
  --shadow-7:  0 14px 28px #00000018;
  --shadow-8:  0 16px 32px #00000018;
  --shadow-9:  0 18px 36px #00000018;
  --shadow-10: 0 20px 40px #00000018;
}


/* !- Font smoothing */
.antialiased {
  -webkit-font-smoothing: antialiased;
}


/* !- Container */
.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
}


/* !- Unselectable, unclickable */
.unselectable {
  user-select: none;
}
.unclickable {
  pointer-events: none;
}


/* !- Text helpers */
.upper {
  text-transform: uppercase;
  letter-spacing: .0625em;
}
.lower {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}
.nowrap {
  white-space: nowrap;
}
.hyphens {
  hyphens: auto;
}
.pointer {
  cursor: pointer;
}


/* !- Text overflow ellipsis */
.toe {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


/* !- Text line clamp */
@for $i from 0 to 5 {
  .lc$(i) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
@for $i from 0 to 5 {
  .lc$(i) { -webkit-line-clamp: $(i) }
}
@media (--medium) {
  @for $i from 0 to 5 {
    .m\:lc$(i) { -webkit-line-clamp: $(i) }
  }
}
@media (--large) {
  @for $i from 0 to 5 {
    .l\:lc$(i) { -webkit-line-clamp: $(i) }
  }
}
@media (--xlarge) {
  @for $i from 0 to 5 {
    .xl\:lc$(i) { -webkit-line-clamp: $(i) }
  }
}


/* !- Overflow */
.oh {
  overflow: hidden;
}


/* !- Touch show/hide */
/* Required device.js */
.touch-show { display: none }
html.touch .touch-show { display: block }
html.touch .touch-hide { display: none }


/* !- Position */
.rel { position: relative }
.abs { position: absolute }
.ins { position: absolute; inset: 0 }


/* !- Object fit */
.fit-cover { object-fit: cover }
.fit-contain { object-fit: contain }
@media (--medium) {
  .m\:fit-none { object-fit: none }
  .m\:fit-cover { object-fit: cover }
  .m\:fit-contain { object-fit: contain }
}
@media (--large) {
  .l\:fit-none { object-fit: none }
  .l\:fit-cover { object-fit: cover }
  .l\:fit-contain { object-fit: contain }
}
@media (--xlarge) {
  .xl\:fit-none { object-fit: none }
  .xl\:fit-cover { object-fit: cover }
  .xl\:fit-contain { object-fit: contain }
}


/* !- Top, bottom, z-index */
@for $i from 0 to 10 {
  .t$(i) { top: var(--space-$(i)) !important; }
  .b$(i) { bottom: var(--space-$(i)) !important; }
  .t$(i)n { top: calc(var(--space-$(i)) * -1) !important; }
  .b$(i)n { bottom: calc(var(--space-$(i)) * -1) !important; }
  .z$(i) { z-index: $(i) !important; }
}
@media (--medium) {
  @for $i from 0 to 10 {
    .m\:t$(i) { top: var(--space-$(i)) !important; }
    .m\:b$(i) { bottom: var(--space-$(i)) !important; }
    .m\:t$(i)n { top: calc(var(--space-$(i)) * -1) !important; }
    .m\:b$(i)n { bottom: calc(var(--space-$(i)) * -1) !important; }
    .m\:z$(i) { z-index: $(i) !important; }
  }
}
@media (--large) {
  @for $i from 0 to 10 {
    .l\:t$(i) { top: var(--space-$(i)) !important; }
    .l\:b$(i) { bottom: var(--space-$(i)) !important; }
    .l\:t$(i)n { top: calc(var(--space-$(i)) * -1) !important; }
    .l\:b$(i)n { bottom: calc(var(--space-$(i)) * -1) !important; }
    .l\:z$(i) { z-index: $(i) !important; }
  }
}
@media (--xlarge) {
  @for $i from 0 to 10 {
    .xl\:t$(i) { top: var(--space-$(i)) !important; }
    .xl\:b$(i) { bottom: var(--space-$(i)) !important; }
    .xl\:t$(i)n { top: calc(var(--space-$(i)) * -1) !important; }
    .xl\:b$(i)n { bottom: calc(var(--space-$(i)) * -1) !important; }
    .xl\:z$(i) { z-index: $(i) !important; }
  }
}


/* !- Opacity */
@for $i from 0 to 10 {
  .op$(i) { opacity: calc($(i) / 10) !important }
}
@media (--medium) {
  @for $i from 0 to 10 {
    .m\:op$(i) { opacity: calc($(i) / 10) !important }
  }
}
@media (--large) {
  @for $i from 0 to 10 {
    .l\:op$(i) { opacity: calc($(i) / 10) !important }
  }
}
@media (--xlarge) {
  @for $i from 0 to 10 {
    .xl\:op$(i) { opacity: calc($(i) / 10) !important }
  }
}


/* !- Ratio */
.ratio1x1,
.ratio2x1,
.ratio3x1,
.ratio4x1,
.ratio3x2,
.ratio4x3,
.ratio16x9,
.ratio1x2,
.ratio1x3,
.ratio1x4,
.ratio2x3,
.ratio3x4,
.ratio9x16 {
  position: relative;
  aspect-ratio: 1/1;
  overflow: hidden;
  
  & > video,
  & > iframe,
  & > object,
  & > embed,
  & > img,
  & > a {
    position: absolute;
    inset: 0;
  }
  & > img {
    object-fit: cover;
  }
}

/* Square */
.ratio1x1 { aspect-ratio: 1/1 !important }
/* Landscape */
.ratio2x1 { aspect-ratio: 2/1 !important }
.ratio3x1 { aspect-ratio: 3/1 !important }
.ratio4x1 { aspect-ratio: 4/1 !important }
.ratio3x2 { aspect-ratio: 3/2 !important }
.ratio4x3 { aspect-ratio: 4/3 !important }
.ratio16x9 { aspect-ratio: 16/9 !important }
/* Portrait */
.ratio1x2 { aspect-ratio: 1/2 !important }
.ratio1x3 { aspect-ratio: 1/3 !important }
.ratio1x4 { aspect-ratio: 1/4 !important }
.ratio2x3 { aspect-ratio: 2/3 !important }
.ratio3x4 { aspect-ratio: 3/4 !important }
.ratio9x16 { aspect-ratio: 9/16 !important }

@media (--medium) {
  /* Square */
  .m\:ratio1x1 { aspect-ratio: 1/1 !important }
  /* Landscape */
  .m\:ratio2x1 { aspect-ratio: 2/1 !important }
  .m\:ratio3x1 { aspect-ratio: 3/1 !important }
  .m\:ratio4x1 { aspect-ratio: 4/1 !important }
  .m\:ratio3x2 { aspect-ratio: 3/2 !important }
  .m\:ratio4x3 { aspect-ratio: 4/3 !important }
  .m\:ratio16x9 { aspect-ratio: 16/9 !important }
  /* Portrait */
  .m\:ratio1x2 { aspect-ratio: 1/2 !important }
  .m\:ratio1x3 { aspect-ratio: 1/3 !important }
  .m\:ratio1x4 { aspect-ratio: 1/4 !important }
  .m\:ratio2x3 { aspect-ratio: 2/3 !important }
  .m\:ratio3x4 { aspect-ratio: 3/4 !important }
  .m\:ratio9x16 { aspect-ratio: 9/16 !important }
}

@media (--large) {
  /* Square */
  .l\:ratio1x1 { aspect-ratio: 1/1 !important }
  /* Landscape */
  .l\:ratio2x1 { aspect-ratio: 2/1 !important }
  .l\:ratio3x1 { aspect-ratio: 3/1 !important }
  .l\:ratio4x1 { aspect-ratio: 4/1 !important }
  .l\:ratio3x2 { aspect-ratio: 3/2 !important }
  .l\:ratio4x3 { aspect-ratio: 4/3 !important }
  .l\:ratio16x9 { aspect-ratio: 16/9 !important }
  /* Portrait */
  .l\:ratio1x2 { aspect-ratio: 1/2 !important }
  .l\:ratio1x3 { aspect-ratio: 1/3 !important }
  .l\:ratio1x4 { aspect-ratio: 1/4 !important }
  .l\:ratio2x3 { aspect-ratio: 2/3 !important }
  .l\:ratio3x4 { aspect-ratio: 3/4 !important }
  .l\:ratio9x16 { aspect-ratio: 9/16 !important }
}

@media (--xlarge) {
  /* Square */
  .xl\:ratio1x1 { aspect-ratio: 1/1 !important }
  /* Landscape */
  .xl\:ratio2x1 { aspect-ratio: 2/1 !important }
  .xl\:ratio3x1 { aspect-ratio: 3/1 !important }
  .xl\:ratio4x1 { aspect-ratio: 4/1 !important }
  .xl\:ratio3x2 { aspect-ratio: 3/2 !important }
  .xl\:ratio4x3 { aspect-ratio: 4/3 !important }
  .xl\:ratio16x9 { aspect-ratio: 16/9 !important }
  /* Portrait */
  .xl\:ratio1x2 { aspect-ratio: 1/2 !important }
  .xl\:ratio1x3 { aspect-ratio: 1/3 !important }
  .xl\:ratio1x4 { aspect-ratio: 1/4 !important }
  .xl\:ratio2x3 { aspect-ratio: 2/3 !important }
  .xl\:ratio3x4 { aspect-ratio: 3/4 !important }
  .xl\:ratio9x16 { aspect-ratio: 9/16 !important }
}


/* !- Break word, invisible, scroll */
.breakWord {
  overflow-wrap: anywhere;
  word-break: break-word;
}
.visuallyHidden {
  position: absolute;
  top: 0;
  left: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}
.invisible {
  visibility: hidden !important;
}
.scrollResponsive {
  overflow-x: auto;
}


/* !- Hidden */
.hidden,
.hiddenNext + * { display: none !important }

@media (--small-max) {
  .s\:hidden,
  .s\:hiddenNext + * { display: none !important }
}
@media (--medium-min) and (--medium-max) {
  .m\:hidden,
  .m\:hiddenNext + * { display: none !important }
}
@media (--large-min) {
  .l\:hidden,
  .l\:hiddenNext + * { display: none !important }
}
@media (--xlarge-min) {
  .xl\:hidden,
  .xl\:hiddenNext + * { display: none !important }
}


/* !-- Hidden dark/light */
@media (prefers-color-scheme: dark) {
  .dark\:hidden { display: none !important }
  
  @media (--small-max) {
    .s\:dark\:hidden { display: none !important }
  }
  @media (--medium-min) and (--medium-max) {
    .m\:dark\:hidden { display: none !important }
  }
  @media (--large-min) {
    .l\:dark\:hidden { display: none !important }
  }
  @media (--xlarge-min) {
    .xl\:dark\:hidden { display: none !important }
  }
}
@media (prefers-color-scheme: light) {
  .light\:hidden { display: none !important }
  
  @media (--small-max) {
    .s\:light\:hidden { display: none !important }
  }
  @media (--medium-min) and (--medium-max) {
    .m\:light\:hidden { display: none !important }
  }
  @media (--large-min) {
    .l\:light\:hidden { display: none !important }
  }
  @media (--xlarge-min) {
    .xl\:light\:hidden { display: none !important }
  }
}



/* !- Width, height */
.fullscreen {
  min-width: 100vh;
  min-height: 100vh;
}
.max {
  width: 100% !important;
  max-width: 100% !important;
}

@for $i from 10 to 190 by 10 {
  .w$(i)   { width: $(i)px !important }
  .max$(i) { width: 100% !important; max-width: $(i)px !important }
  .min$(i) { min-width: $(i)px !important }
}
@for $i from 200 to 380 by 20 {
  .w$(i)   { width: $(i)px !important }
  .max$(i) { width: 100% !important; max-width: $(i)px !important }
  .min$(i) { min-width: $(i)px !important }
}
@for $i from 400 to 1600 by 100 {
  .w$(i)   { width: $(i)px !important }
  .max$(i) { width: 100% !important; max-width: $(i)px !important }
  .min$(i) { min-width: $(i)px !important }
}

@media (--medium) {
  .m\:max {
    width: 100% !important;
    max-width: 100% !important;
  }
  
  @for $i from 10 to 190 by 10 {
    .m\:w$(i)   { width: $(i)px !important }
    .m\:max$(i) { width: 100% !important; max-width: $(i)px !important }
    .m\:min$(i) { min-width: $(i)px !important }
  }
  @for $i from 200 to 380 by 20 {
    .m\:w$(i)   { width: $(i)px !important }
    .m\:max$(i) { width: 100% !important; max-width: $(i)px !important }
    .m\:min$(i) { min-width: $(i)px !important }
  }
  @for $i from 400 to 1600 by 100 {
    .m\:w$(i)   { width: $(i)px !important }
    .m\:max$(i) { width: 100% !important; max-width: $(i)px !important }
    .m\:min$(i) { min-width: $(i)px !important }
  }
}

@media (--large) {
  .l\:max {
    width: 100% !important;
    max-width: 100% !important;
  }
  
  @for $i from 10 to 190 by 10 {
    .l\:w$(i)   { width: $(i)px !important }
    .l\:max$(i) { width: 100% !important; max-width: $(i)px !important }
    .l\:min$(i) { min-width: $(i)px !important }
  }
  @for $i from 200 to 380 by 20 {
    .l\:w$(i)   { width: $(i)px !important }
    .l\:max$(i) { width: 100% !important; max-width: $(i)px !important }
    .l\:min$(i) { min-width: $(i)px !important }
  }
  @for $i from 400 to 1600 by 100 {
    .l\:w$(i)   { width: $(i)px !important }
    .l\:max$(i) { width: 100% !important; max-width: $(i)px !important }
    .l\:min$(i) { min-width: $(i)px !important }
  }
}

@media (--xlarge) {
  .xl\:max {
    width: 100% !important;
    max-width: 100% !important;
  }
  
  @for $i from 10 to 190 by 10 {
    .xl\:w$(i)   { width: $(i)px !important }
    .xl\:max$(i) { width: 100% !important; max-width: $(i)px !important }
    .xl\:min$(i) { min-width: $(i)px !important }
  }
  @for $i from 200 to 380 by 20 {
    .xl\:w$(i)   { width: $(i)px !important }
    .xl\:max$(i) { width: 100% !important; max-width: $(i)px !important }
    .xl\:min$(i) { min-width: $(i)px !important }
  }
  @for $i from 400 to 1600 by 100 {
    .xl\:w$(i)   { width: $(i)px !important }
    .xl\:max$(i) { width: 100% !important; max-width: $(i)px !important }
    .xl\:min$(i) { min-width: $(i)px !important }
  }
}


/* !- Text align */
.al { text-align: left !important }
.ar { text-align: right !important }
.ac { text-align: center !important }
.aj { text-align: justify !important }

@media (--medium) {
  .m\:al { text-align: left !important }
  .m\:ar { text-align: right !important }
  .m\:ac { text-align: center !important }
  .m\:aj { text-align: justify !important }
}

@media (--large) {
  .l\:al { text-align: left !important }
  .l\:ar { text-align: right !important }
  .l\:ac { text-align: center !important }
  .l\:aj { text-align: justify !important }
}

@media (--xlarge) {
  .xl\:al { text-align: left !important }
  .xl\:ar { text-align: right !important }
  .xl\:ac { text-align: center !important }
  .xl\:aj { text-align: justify !important }
}


/* !- Margin */
@for $i from 0 to 10 {
  .m$(i)  { margin: var(--space-$(i)) !important }
  .mx$(i) { margin-left: var(--space-$(i)) !important; margin-right: var(--space-$(i)) !important }
  .my$(i) { margin-top: var(--space-$(i)) !important; margin-bottom: var(--space-$(i)) !important }
  .mt$(i) { margin-top: var(--space-$(i)) !important }
  .mb$(i) { margin-bottom: var(--space-$(i)) !important }
  .ml$(i) { margin-left: var(--space-$(i)) !important }
  .mr$(i) { margin-right: var(--space-$(i)) !important }
  
  .m$(i)n  { margin: calc(var(--space-$(i)) * -1) !important }
  .mx$(i)n {
    margin-left: calc(var(--space-$(i)) * -1) !important;
    margin-right: calc(var(--space-$(i)) * -1) !important;
  }
  .my$(i)n {
    margin-top: calc(var(--space-$(i)) * -1) !important;
    margin-bottom: calc(var(--space-$(i)) * -1) !important;
  }
  .mt$(i)n { margin-top: calc(var(--space-$(i)) * -1) !important }
  .mb$(i)n { margin-bottom: calc(var(--space-$(i)) * -1) !important }
  .ml$(i)n { margin-left: calc(var(--space-$(i)) * -1) !important }
  .mr$(i)n { margin-right: calc(var(--space-$(i)) * -1) !important }
}
.ma  { margin: auto !important }
.mxa { margin-left: auto !important; margin-right: auto !important }
.mya { margin-top: auto !important; margin-bottom: auto !important }
.mta { margin-top: auto !important }
.mba { margin-bottom: auto !important }
.mla { margin-left: auto !important }
.mra { margin-right: auto !important }

@media (--medium) {
  @for $i from 0 to 10 {
    .m\:m$(i)  { margin: var(--space-$(i)) !important }
    .m\:mx$(i) { margin-left: var(--space-$(i)) !important; margin-right: var(--space-$(i)) !important }
    .m\:my$(i) { margin-top: var(--space-$(i)) !important; margin-bottom: var(--space-$(i)) !important }
    .m\:mt$(i) { margin-top: var(--space-$(i)) !important }
    .m\:mb$(i) { margin-bottom: var(--space-$(i)) !important }
    .m\:ml$(i) { margin-left: var(--space-$(i)) !important }
    .m\:mr$(i) { margin-right: var(--space-$(i)) !important }
    
    .m\:m$(i)n  { margin: calc(var(--space-$(i)) * -1) !important }
    .m\:mx$(i)n {
      margin-left: calc(var(--space-$(i)) * -1) !important;
      margin-right: calc(var(--space-$(i)) * -1) !important;
    }
    .m\:my$(i)n {
      margin-top: calc(var(--space-$(i)) * -1) !important;
      margin-bottom: calc(var(--space-$(i)) * -1) !important;
    }
    .m\:mt$(i)n { margin-top: calc(var(--space-$(i)) * -1) !important }
    .m\:mb$(i)n { margin-bottom: calc(var(--space-$(i)) * -1) !important }
    .m\:ml$(i)n { margin-left: calc(var(--space-$(i)) * -1) !important }
    .m\:mr$(i)n { margin-right: calc(var(--space-$(i)) * -1) !important }
  }
  .m\:ma  { margin: auto !important }
  .m\:mxa { margin-left: auto !important; margin-right: auto !important }
  .m\:mya { margin-top: auto !important; margin-bottom: auto !important }
  .m\:mta { margin-top: auto !important }
  .m\:mba { margin-bottom: auto !important }
  .m\:mla { margin-left: auto !important }
  .m\:mra { margin-right: auto !important }
}

@media (--large) {
  @for $i from 0 to 10 {
    .l\:m$(i)  { margin: var(--space-$(i)) !important }
    .l\:mx$(i) { margin-left: var(--space-$(i)) !important; margin-right: var(--space-$(i)) !important }
    .l\:my$(i) { margin-top: var(--space-$(i)) !important; margin-bottom: var(--space-$(i)) !important }
    .l\:mt$(i) { margin-top: var(--space-$(i)) !important }
    .l\:mb$(i) { margin-bottom: var(--space-$(i)) !important }
    .l\:ml$(i) { margin-left: var(--space-$(i)) !important }
    .l\:mr$(i) { margin-right: var(--space-$(i)) !important }
    
    .l\:m$(i)n  { margin: calc(var(--space-$(i)) * -1) !important }
    .l\:mx$(i)n {
      margin-left: calc(var(--space-$(i)) * -1) !important;
      margin-right: calc(var(--space-$(i)) * -1) !important;
    }
    .l\:my$(i)n {
      margin-top: calc(var(--space-$(i)) * -1) !important;
      margin-bottom: calc(var(--space-$(i)) * -1) !important;
    }
    .l\:mt$(i)n { margin-top: calc(var(--space-$(i)) * -1) !important }
    .l\:mb$(i)n { margin-bottom: calc(var(--space-$(i)) * -1) !important }
    .l\:ml$(i)n { margin-left: calc(var(--space-$(i)) * -1) !important }
    .l\:mr$(i)n { margin-right: calc(var(--space-$(i)) * -1) !important }
  }
  .l\:ma  { margin: auto !important }
  .l\:mxa { margin-left: auto !important; margin-right: auto !important }
  .l\:mya { margin-top: auto !important; margin-bottom: auto !important }
  .l\:mta { margin-top: auto !important }
  .l\:mba { margin-bottom: auto !important }
  .l\:mla { margin-left: auto !important }
  .l\:mra { margin-right: auto !important }
}

@media (--xlarge) {
  @for $i from 0 to 10 {
    .xl\:m$(i)  { margin: var(--space-$(i)) !important }
    .xl\:mx$(i) { margin-left: var(--space-$(i)) !important; margin-right: var(--space-$(i)) !important }
    .xl\:my$(i) { margin-top: var(--space-$(i)) !important; margin-bottom: var(--space-$(i)) !important }
    .xl\:mt$(i) { margin-top: var(--space-$(i)) !important }
    .xl\:mb$(i) { margin-bottom: var(--space-$(i)) !important }
    .xl\:ml$(i) { margin-left: var(--space-$(i)) !important }
    .xl\:mr$(i) { margin-right: var(--space-$(i)) !important }
    
    .xl\:m$(i)n  { margin: calc(var(--space-$(i)) * -1) !important }
    .xl\:mx$(i)n {
      margin-left: calc(var(--space-$(i)) * -1) !important;
      margin-right: calc(var(--space-$(i)) * -1) !important;
    }
    .xl\:my$(i)n {
      margin-top: calc(var(--space-$(i)) * -1) !important;
      margin-bottom: calc(var(--space-$(i)) * -1) !important;
    }
    .xl\:mt$(i)n { margin-top: calc(var(--space-$(i)) * -1) !important }
    .xl\:mb$(i)n { margin-bottom: calc(var(--space-$(i)) * -1) !important }
    .xl\:ml$(i)n { margin-left: calc(var(--space-$(i)) * -1) !important }
    .xl\:mr$(i)n { margin-right: calc(var(--space-$(i)) * -1) !important }
  }
  .xl\:ma  { margin: auto !important }
  .xl\:mxa { margin-left: auto !important; margin-right: auto !important }
  .xl\:mya { margin-top: auto !important; margin-bottom: auto !important }
  .xl\:mta { margin-top: auto !important }
  .xl\:mba { margin-bottom: auto !important }
  .xl\:mla { margin-left: auto !important }
  .xl\:mra { margin-right: auto !important }
}


/* !- Padding */
@for $i from 0 to 10 {
  .p$(i)  { padding: var(--space-$(i)) !important }
  .px$(i) { padding-left: var(--space-$(i)) !important; padding-right: var(--space-$(i)) !important }
  .py$(i) { padding-top: var(--space-$(i)) !important; padding-bottom: var(--space-$(i)) !important }
  .pt$(i) { padding-top: var(--space-$(i)) !important }
  .pb$(i) { padding-bottom: var(--space-$(i)) !important }
  .pl$(i) { padding-left: var(--space-$(i)) !important }
  .pr$(i) { padding-right: var(--space-$(i)) !important }
}

@media (--medium) {
  @for $i from 0 to 10 {
    .m\:p$(i)  { padding: var(--space-$(i)) !important }
    .m\:px$(i) { padding-left: var(--space-$(i)) !important; padding-right: var(--space-$(i)) !important }
    .m\:py$(i) { padding-top: var(--space-$(i)) !important; padding-bottom: var(--space-$(i)) !important }
    .m\:pt$(i) { padding-top: var(--space-$(i)) !important }
    .m\:pb$(i) { padding-bottom: var(--space-$(i)) !important }
    .m\:pl$(i) { padding-left: var(--space-$(i)) !important }
    .m\:pr$(i) { padding-right: var(--space-$(i)) !important }
  }
}

@media (--large) {
  @for $i from 0 to 10 {
    .l\:p$(i)  { padding: var(--space-$(i)) !important }
    .l\:px$(i) { padding-left: var(--space-$(i)) !important; padding-right: var(--space-$(i)) !important }
    .l\:py$(i) { padding-top: var(--space-$(i)) !important; padding-bottom: var(--space-$(i)) !important }
    .l\:pt$(i) { padding-top: var(--space-$(i)) !important }
    .l\:pb$(i) { padding-bottom: var(--space-$(i)) !important }
    .l\:pl$(i) { padding-left: var(--space-$(i)) !important }
    .l\:pr$(i) { padding-right: var(--space-$(i)) !important }
  }
}

@media (--xlarge) {
  @for $i from 0 to 10 {
    .xl\:p$(i)  { padding: var(--space-$(i)) !important }
    .xl\:px$(i) { padding-left: var(--space-$(i)) !important; padding-right: var(--space-$(i)) !important }
    .xl\:py$(i) { padding-top: var(--space-$(i)) !important; padding-bottom: var(--space-$(i)) !important }
    .xl\:pt$(i) { padding-top: var(--space-$(i)) !important }
    .xl\:pb$(i) { padding-bottom: var(--space-$(i)) !important }
    .xl\:pl$(i) { padding-left: var(--space-$(i)) !important }
    .xl\:pr$(i) { padding-right: var(--space-$(i)) !important }
  }
}


/* !- Gap */
@for $i from 0 to 10 {
  .gap$(i) { gap: var(--space-$(i)) !important }
  .gapx$(i) { column-gap: var(--space-$(i)) !important }
  .gapy$(i) { row-gap: var(--space-$(i)) !important }
}

@media (--medium) {
  @for $i from 0 to 10 {
    .m\:gap$(i) { gap: var(--space-$(i)) !important }
    .m\:gapx$(i) { column-gap: var(--space-$(i)) !important }
    .m\:gapy$(i) { row-gap: var(--space-$(i)) !important }
  }
}

@media (--large) {
  @for $i from 0 to 10 {
    .l\:gap$(i) { gap: var(--space-$(i)) !important }
    .l\:gapx$(i) { column-gap: var(--space-$(i)) !important }
    .l\:gapy$(i) { row-gap: var(--space-$(i)) !important }
  }
}

@media (--xlarge) {
  @for $i from 0 to 10 {
    .xl\:gap$(i) { gap: var(--space-$(i)) !important }
    .xl\:gapx$(i) { column-gap: var(--space-$(i)) !important }
    .xl\:gapy$(i) { row-gap: var(--space-$(i)) !important }
  }
}


/* !- Border radius */
@for $i from 0 to 10 {
  .r$(i) { border-radius: var(--space-$(i)) !important }
}
.r100 { border-radius: 100% !important }

@media (--medium) {
  @for $i from 0 to 10 {
    .m\:r$(i) { border-radius: var(--space-$(i)) !important }
  }
  .m\:r100 { border-radius: 100% !important }
}

@media (--large) {
  @for $i from 0 to 10 {
    .l\:r$(i) { border-radius: var(--space-$(i)) !important }
  }
  .l\:r100 { border-radius: 100% !important }
}

@media (--xlarge) {
  @for $i from 0 to 10 {
    .xl\:r$(i) { border-radius: var(--space-$(i)) !important }
  }
  .xl\:r100 { border-radius: 100% !important }
}


/* !- Shadows */
.sh0  { box-shadow: none }
.sh1  { box-shadow: var(--shadow-1) }
.sh2  { box-shadow: var(--shadow-2) }
.sh3  { box-shadow: var(--shadow-3) }
.sh4  { box-shadow: var(--shadow-4) }
.sh5  { box-shadow: var(--shadow-5) }
.sh6  { box-shadow: var(--shadow-6) }
.sh7  { box-shadow: var(--shadow-7) }
.sh8  { box-shadow: var(--shadow-8) }
.sh9  { box-shadow: var(--shadow-9) }
.sh10 { box-shadow: var(--shadow-10) }

@media (--medium) {
  .m\:sh0 { box-shadow: none }
  .m\:sh1  { box-shadow: var(--shadow-1) }
  .m\:sh2  { box-shadow: var(--shadow-2) }
  .m\:sh3  { box-shadow: var(--shadow-3) }
  .m\:sh4  { box-shadow: var(--shadow-4) }
  .m\:sh5  { box-shadow: var(--shadow-5) }
  .m\:sh6  { box-shadow: var(--shadow-6) }
  .m\:sh7  { box-shadow: var(--shadow-7) }
  .m\:sh8  { box-shadow: var(--shadow-8) }
  .m\:sh9  { box-shadow: var(--shadow-9) }
  .m\:sh10 { box-shadow: var(--shadow-10) }
}

@media (--large) {
  .l\:sh0 { box-shadow: none }
  .l\:sh1  { box-shadow: var(--shadow-1) }
  .l\:sh2  { box-shadow: var(--shadow-2) }
  .l\:sh3  { box-shadow: var(--shadow-3) }
  .l\:sh4  { box-shadow: var(--shadow-4) }
  .l\:sh5  { box-shadow: var(--shadow-5) }
  .l\:sh6  { box-shadow: var(--shadow-6) }
  .l\:sh7  { box-shadow: var(--shadow-7) }
  .l\:sh8  { box-shadow: var(--shadow-8) }
  .l\:sh9  { box-shadow: var(--shadow-9) }
  .l\:sh10 { box-shadow: var(--shadow-10) }
}


/* !- Order */
@for $i from 0 to 12 {
  .o$(i) { order: $(i) }
}
@media (--medium) {
  @for $i from 0 to 12 {
    .m\:o$(i) { order: $(i) }
  }
}
@media (--large) {
  @for $i from 0 to 12 {
    .l\:o$(i) { order: $(i) }
  }
}
@media (--xlarge) {
  @for $i from 0 to 12 {
    .xl\:o$(i) { order: $(i) }
  }
}


/* !- Print */
@media print {
  .noPrint {
    display: none;
  }
}
