/*----------------------------------------
icons.css / x
Icons

Created by Andrey Shpigunov at 20.03.2025
All right reserved.
----------------------------------------*/


/*
  .icon - base icon style
  .icon--[10-60] step 2 (m,l) - icon size in px
*/

.icon,
.icon > svg,
.icon > img {
  display: inline-block;
  width: 1em;
  height: 1em;
  max-width: none;
  max-height: none;
}
.icon > svg,
.icon > img {
  display: block;
}

@for $i from 10 to 60 by 2 {
  .icon--$(i),
  .icon--$(i) > svg,
  .icon--$(i) > img {
    width: calc($(i)rem / 10);
    height: calc($(i)rem / 10);
  }
}

@media (--medium) {
  @for $i from 10 to 60 by 2 {
    .m\:icon--$(i),
    .m\:icon--$(i) > svg,
    .m\:icon--$(i) > img {
      width: calc($(i)rem / 10);
      height: calc($(i)rem / 10);
    }
  }
}

@media (--large) {
  @for $i from 10 to 60 by 2 {
    .l\:icon--$(i),
    .l\:icon--$(i) > svg,
    .l\:icon--$(i) > img {
      width: calc($(i)rem / 10);
      height: calc($(i)rem / 10);
    }
  }
}
