/*----------------------------------------
links.css
x | Links
Created by Andrey Shpigunov at 12.02.2025
All right reserved.
----------------------------------------*/


/* !- Links styles */


/*
  a
  a.link
  a.hover
  a.active
  a.link_noline
  a.link_underline
  a.link_dashed
  a.link_dotted
  a.link_wavy
*/


:root {
  --link-color: #0060bb;
  --link-decoration-line: underline;
  --link-decoration-style: solid;
  
  /*
    Additional variables and their default values:
    --link-color-hover: var(--link-color);
    --link-color-visited: var(--link-color);
    --link-decoration-line-hover: var(--link-decoration-line-hover, var(--link-decoration-line));
    --link-decoration-style-hover: var(--link-decoration-style-hover, var(--link-decoration-style));
    --link-decoration-thickness: .06em;
    --link-decoration-color: color-mix(in srgb, currentcolor, transparent 75%);
    --link-decoration-color-hover: currentcolor;
    --link-decoration-color-visited: currentcolor;
    --link-underline-offset: .25em;
    --link-transition: all .1s ease-out;
  */
}


a {
  
  &[role=button] {
    cursor: pointer;
  }
  &:link,
  &.link {
    outline: none;
    cursor: pointer;
    color: var(--link-color);
    transition: var(--link-transition, all .1s ease-out);
    
    text-decoration-line: var(--link-decoration-line);
    text-decoration-style: var(--link-decoration-style);
    text-decoration-color: var(--link-decoration-color, color-mix(in srgb, currentcolor, transparent 75%));
    text-decoration-thickness: clamp(1px, var(--link-decoration-thickness, .06em), 10px);
    text-underline-offset: var(--link-underline-offset, .25em);
  }
  &:visited {
    color: var(--link-color-visited, var(--link-color));
    text-decoration-color: var(--link-decoration-color-visited, currentcolor);
  }
  @media (any-hover: hover) {
    &:hover,
    &.hover {
      color: var(--link-color-hover, var(--link-color));
      text-decoration-line: var(--link-decoration-line-hover, var(--link-decoration-line));
      text-decoration-style: var(--link-decoration-style-hover, var(--link-decoration-style));
      text-decoration-color: var(--link-decoration-color-hover, currentcolor);
    }
  }
  &:active,
  &.active {
    color: var(--link-color-hover, var(--link-color));
    text-decoration-line: var(--link-decoration-line-hover, var(--link-decoration-line));
    text-decoration-style: var(--link-decoration-style-hover, var(--link-decoration-style));
    text-decoration-color: var(--link-decoration-color-hover, currentcolor);
  }
  
  
  /* Link predefined styles */
  
  &.link_noline {
    --link-decoration-line: none;
  }
  &.link_underline {
    --link-decoration-line: underline;
  }
  &.link_dashed {
    --link-decoration-style: dashed;
  }
  &.link_dotted {
    --link-decoration-style: dotted;
  }
  &.link_wavy {
    --link-decoration-style: wavy;
  }
}


/* Remove underline from phones */

a[href^="tel"],
a[href^="tel"]:hover,
a[href^="tel"]:active {
  color: inherit !important;
  text-decoration: inherit !important;
}
