/*----------------------------------------
modal.css / x
Modal windows

Created by Andrey Shpigunov at 20.03.2025
All right reserved.
----------------------------------------*/


/* !- Modal windows */


:root {
  --modal-margin-top: 3vw;
  --modal-margin-bottom: 3vw;
  --modal-margin-left: 3vw;
  --modal-margin-right: 3vw;
  --modal-padding-top: clamp(2.5rem, 4vw, 5rem);
  --modal-padding-bottom: clamp(2.5rem, 4vw, 5rem);
  --modal-padding-left: clamp(2.5rem, 4vw, 5rem);
  --modal-padding-right: clamp(2.5rem, 4vw, 5rem);
  --modal-background: #fff;
  --modal-box-shadow: 0 1rem 4rem #00000033;
  --modal-border-radius: 1.6rem;
  --modal-closer-margin: .6rem;
  --modal-closer-area: 4rem;
  --modal-closer-size: 2.4rem;
  --modal-closer-width: .2rem;
  --modal-closer-color: #ccc;
  --modal-closer-color-hover: #f00;
  --modal-overlay-background-color: #00000066;
}


html.modal--active body {
  overflow: hidden;
}


/* !- Modal window content */
[x-modal] {
  display: none;
}


/* !- Modal wrapper */
.modal {
  position: fixed;
  z-index: -10000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  pointer-events: none;
  display: none;
}
.modal--ready {
  z-index: 10000;
  pointer-events: all;
  display: block;
}
.modal--z1  { z-index: 10001 }
.modal--z2  { z-index: 10002 }
.modal--z3  { z-index: 10003 }
.modal--z4  { z-index: 10004 }
.modal--z5  { z-index: 10005 }
.modal--z6  { z-index: 10006 }
.modal--z7  { z-index: 10007 }
.modal--z8  { z-index: 10008 }
.modal--z9  { z-index: 10009 }
.modal--z10 { z-index: 10010 }


/* !- Overlay */
.modal-overlay {
  position: absolute;
  z-index: 10010;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--modal-overlay-background-color);
}


/* ! -Main structure */
.modal-outer {
  position: relative;
  z-index: 10020;
  width: 100%;
  height: 100%;
  padding-top: var(--modal-margin-top);
  padding-bottom: var(--modal-margin-bottom);
  padding-left: var(--modal-margin-left);
  padding-right: var(--modal-margin-right);
  overflow: auto;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
}
.modal-inner {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}


/* !- Modal window */
.modal-window {
  position: relative;
  z-index: 10030;
  width: 100%;
  max-width: 80rem;
  margin: auto;
  padding-top: var(--modal-padding-top);
  padding-bottom: var(--modal-padding-bottom);
  padding-left: var(--modal-padding-left);
  padding-right: var(--modal-padding-right);
  text-align: left;
  background: var(--modal-background);
  box-shadow: var(--modal-box-shadow);
  border-radius: var(--modal-border-radius);
}


/* !- Close cross */
.modal-rail {
  position: absolute;
  top: var(--modal-closer-margin);
  bottom: var(--modal-closer-margin);
  right: var(--modal-closer-margin);
  width: 0;
  
  .modal-close {
    display: block;
    position: sticky;
    z-index: 10040;
    top: calc(var(--modal-closer-margin) - var(--modal-margin-top));
    background: var(--modal-background);
    width: var(--modal-closer-area);
    height: var(--modal-closer-area);
    margin-left: calc(-1 * var(--modal-closer-area));
    font-weight: 200;
    border: none;
    border-radius: var(--modal-border-radius);
    
    will-change: opacity;
    opacity: 0;
    transition: opacity .15s ease-out;
    
    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: calc(var(--modal-closer-area) / 2 - var(--modal-closer-width) / 2);
      left: calc((var(--modal-closer-area) - var(--modal-closer-size)) / 2);
      width: var(--modal-closer-size);
      height: var(--modal-closer-width);
      
      will-change: color;
      background: var(--modal-closer-color);
      transition: background .15s ease-out;
      transform-origin: center;
    }
    &:before {
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
    }
  }
}
.modal--active .modal-rail {
  
  .modal-close {
    opacity: 1;
    
    @media (any-hover: hover) {
      &:hover:before,
      &:hover:after,
      &:active:before,
      &:active:after {
        background: var(--modal-closer-color-hover);
      }
    }
  }
}


/* !- Effects
   https://github.com/codrops/ModalWindowEffects */


.modal {
  & .modal-overlay {
    will-change: opacity;
    opacity: 0;
    transition: opacity .2s ease-out;
  }
  &.modal--active .modal-overlay {
    opacity: 1;
  }
}


/* !- Default */
.modal {
  & .modal-window {
    will-change: visibility, opacity, transform;
    opacity: 0;
    transform: scale(.97);
    transform-origin: center top;
    transition: all .2s ease-out;
  }
  &.modal--active .modal-window {
    transform: scale(1);
    opacity: 1;
  }
}


/* !- Zoom in */
.modal--effect-in {
  & .modal-window {
    transform: scale(.9);
  }
  &.modal--active .modal-window {
    transform: scale(1);
  }
}


/* !- Zoom out */
.modal--effect-out {
  & .modal-window {
    transform: scale(1.1);
  }
  &.modal--active .modal-window {
    transform: scale(1);
  }
}


/* !- Slide up */
.modal--effect-up {
  & .modal-window {
    transform: translateY(30px);
  }
  &.modal--active .modal-window {
    transform: translateY(0);
  }
}


/* !- Slide down */
.modal--effect-down {
  & .modal-window {
    transform: translateY(-30px);
  }
  &.modal--active .modal-window {
    transform: translateY(0);
  }
}


/* !- Slide from left */
.modal--effect-left {
  & .modal-window {
    transform: translateX(-30px);
  }
  &.modal--active .modal-window {
    transform: translateX(0);
  }
}


/* !- Slide from right */
.modal--effect-right {
  & .modal-window {
    transform: translateX(30px);
  }
  &.modal--active .modal-window {
    transform: translateX(0);
  }
}
