/*----------------------------------------
scroll.css / x
Scroll

Created by Andrey Shpigunov at 20.03.2025
All right reserved.
----------------------------------------*/


/* !- Scroll - native CSS horizontal scroller */


/*
  .scroll
  .scroll--contain
  .scroll--x-proximity
  .scroll--x-mandatory
*/


:root {
  --scroll-scrollbar-size: 6px;
  --scroll-scrollbar-thumb-background: #00000011;
  --scroll-scrollbar-thumb-background-hover: #00000022;
}


.scroll {
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  /* Hide scrollbar in IE and Edge */
  -ms-overflow-style: none;
  /* Hide scrollbar in Firefox */
  scrollbar-width: none;
  touch-action: pan-x !important;

  &::-webkit-scrollbar {
    width: var(--scroll-scrollbar-size);
    height: var(--scroll-scrollbar-size);
  }

  &::-webkit-scrollbar-track {
    background-color: none;
    border-radius: var(--scroll-scrollbar-size);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: var(--scroll-scrollbar-size);
    background-color: var(--scroll-scrollbar-thumb-background);
    will-change: background-color;
    transition: background .2s ease-out;
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--scroll-scrollbar-thumb-background-hover);
  }

  &::-webkit-scrollbar-button,
  &::-webkit-scrollbar-track-piece,
  &::-webkit-scrollbar-corner,
  &::-webkit-resizer {
    display: none;
  }
}

.scroll.scroll--x {
  overflow-x: scroll;
  overflow-y: hidden;
  touch-action: pan-x !important;
}

.scroll.scroll--y {
  overflow-x: hidden;
  overflow-y: scroll;
  touch-action: pan-y !important;
}

.scroll--contain {
  overscroll-behavior: contain;
}

.scroll--x-proximity {
  scroll-snap-type: x proximity;
}
.scroll--x-mandatory {
  scroll-snap-type: x mandatory;
}

.scroll--x-proximity,
.scroll--x-mandatory {
  & > * {
    scroll-snap-align: start;
  }
  &.scroll--align-center > * {
    scroll-snap-align: center;
  }
  &.scroll--align-end > * {
    scroll-snap-align: end;
  }
}
