/*---------------------------
slides.css
x

Created by Andrey Shpigunov on 07.10.2024.
---------------------------*/


/* Slides */


:root {
  --slides-point-color: #ffffff66;
  --slides-point-color-active: #fff;
  --slides-point-size: .6rem;
  --slides-point-gap: .4rem;
  --slides-point-bottom: 1.4rem;
}


.slides {
  position: relative;
}
.slides-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--slides-point-gap);
  position: absolute;
  z-index: 10;
  bottom: var(--slides-point-bottom);
  left: 0;
  right: 0;
  height: var(--slides-point-size);
  opacity: 0;
  
  will-change: opacity;
  transition: opacity .25s ease-out;
}
.slides-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--slides-point-size);
  height: var(--slides-point-size);
  border-radius: var(--slides-point-size);
  background: var(--slides-point-color);
}
.slides-item.active {
  background: var(--slides-point-color-active);
}
.slides:hover .slides-items {
  opacity: 1;
}
