/*----------------------------------------
slides.css / x
Slides

Created by Andrey Shpigunov at 20.03.2025
All right reserved.
----------------------------------------*/


/* !- Slides */


:root {
  --slides-point-color: #ffffff66;
  --slides-point-color-active: #fff;
  --slides-point-size: .3rem;
  --slides-point-gap: .3rem;
  --slides-point-top-padding: auto;
  --slides-point-left-padding: 1.6rem;
  --slides-point-right-padding: 1.6rem;
  --slides-point-bottom-padding: 1rem;
}


.slides {
  position: relative;
}
.slides-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--slides-point-gap);
  position: absolute;
  z-index: 10;
  top: var(--slides-point-top-padding);
  bottom: var(--slides-point-bottom-padding);
  left: var(--slides-point-left-padding);
  right: var(--slides-point-right-padding);
  height: var(--slides-point-size);
  opacity: 0;
  
  will-change: opacity;
  transition: opacity .25s ease-out;
}
.slides-item {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: var(--slides-point-size);
  height: var(--slides-point-size);
  border-radius: var(--slides-point-size);
  background: var(--slides-point-color);
}
.slides-item.active {
  background: var(--slides-point-color-active);
}
.slides:hover .slides-items {
  opacity: 1;
}
