:root {
  --slider-point-color: #ffffff66;
  --slider-point-color-active: #fff;
  --slider-point-size: .3rem;
  --slider-point-gap: .3rem;
  --slider-point-top-padding: auto;
  --slider-point-left-padding: 1.2rem;
  --slider-point-right-padding: 1.2rem;
  --slider-point-bottom-padding: 1rem;
  --slider-indicators-init-opacity: 0;
}

.slider {
  display: flex;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  touch-action: pan-y !important;  /* разрешаем только вертикальные жесты браузеру */
  overscroll-behavior: contain;    /* не отдаём overscroll родителю */
}
.slider-wrapper {
  touch-action: manipulation;
  contain: strict;
}
.slider-item {
  display: flex;
  position: relative;
  min-width: 100%;
  flex: 0 0 100%,
}
.slider-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-indicators {
  display: flex;
  position: absolute;
  left: var(--slider-point-left-padding);
  right: var(--slider-point-right-padding);
  bottom: var(--slider-point-bottom-padding);
  height: var(--slider-point-size);
  gap: var(--slider-point-gap);
  opacity: var(--slider-indicators-init-opacity);
  will-change: opacity;
  transition: opacity .2s ease-out;
  pointer-events: none;
}
.slider-indicators span {
  display: flex;
  flex: 1;
  width: var(--slider-point-size);
  height: var(--slider-point-size);
  border-radius: var(--slider-point-size);
  background: var(--slider-point-color);
  transition: background .1s ease-out;
}
.slider-indicators span.active {
  background: var(--slider-point-color-active);
}
html.touch .slider .slider-indicators,
.slider:hover .slider-indicators {
  opacity: 1;
}
