/*----------------------------------------
space.css / x
Spaces

Created by Andrey Shpigunov at 20.03.2025
All right reserved.
----------------------------------------*/


@for $i from 0 to 10 {
  .space$(i) {
    height: var(--space-$(i));
  }
}

@media (--medium) {
  @for $i from 0 to 10 {
    .m\:space$(i) {
      height: var(--space-$(i));
    }
  }
}

@media (--large) {
  @for $i from 0 to 10 {
    .l\:space$(i) {
      height: var(--space-$(i));
    }
  }
}
