/*----------------------------------------
space.css / x
Spaces

Created by Andrey Shpigunov at 20.03.2025
All right reserved.
----------------------------------------*/


/* !- Spaces variables */


/* .space[0-10] (m,l) — vertical spacer */


:root {
  /* Spaces */
  --space-0:  0;
  --space-1:  0.4rem;
  --space-2:  0.8rem;
  --space-3:  1.2rem;
  --space-4:  1.6rem;
  --space-5:  2.4rem;
  --space-6:  3.2rem;
  --space-7:  4.8rem;
  --space-8:  6.4rem;
  --space-9:  9.6rem;
  --space-10: 12.8rem;
}

@for $i from 0 to 10 {
  .space$(i) {
    height: var(--space-$(i));
  }
}

@media (--medium) {
  @for $i from 0 to 10 {
    .m\:space$(i) {
      height: var(--space-$(i));
    }
  }
}

@media (--large) {
  @for $i from 0 to 10 {
    .l\:space$(i) {
      height: var(--space-$(i));
    }
  }
}
