/*----------------------------------------
space.css / x
Spaces

Created by Andrey Shpigunov at 20.03.2025
All right reserved.
----------------------------------------*/


/*
  .space[0-9] (s,m,l,xl)   - vertical space
*/

@for $i from 0 to 9 {
  .space$(i) {
    height: var(--space-$(i));
  }
}

@media (min-width: 640px) {
  @for $i from 0 to 9 {
    .s\:space$(i) {
      height: var(--space-$(i));
    }
  }
}

@media (min-width: 768px) {
  @for $i from 0 to 9 {
    .m\:space$(i) {
      height: var(--space-$(i));
    }
  }
}

@media (min-width: 1024px) {
  @for $i from 0 to 9 {
    .l\:space$(i) {
      height: var(--space-$(i));
    }
  }
}

@media (min-width: 1280px) {
  @for $i from 0 to 9 {
    .xl\:space$(i) {
      height: var(--space-$(i));
    }
  }
}
