/*---------------------------
sticky.css
x

Created by Andrey Shpigunov on 27.09.2024.
---------------------------*/


/* Sticky */


.sticky {
  position: sticky !important;
  top: 0;
}
@media (--small-max) {
  .s\:sticky { position: sticky !important; top: 0 }
}
@media (--medium-min) and (--medium-max) {
  .m\:sticky { position: sticky !important; top: 0 }
}
@media (--large-min) {
  .g\:sticky { position: sticky !important; top: 0 }
}
