/*----------------------------------------
sticky.css / x
Sticky

Created by Andrey Shpigunov at 20.03.2025
All right reserved.
----------------------------------------*/


/* !- Sticky */


/* .sticky (m,l,xl) */


.sticky {
  position: sticky !important;
  top: 0;
}
@media (--medium) {
  .s\:sticky { position: sticky !important; top: 0 }
}
@media (--medium) {
  .m\:sticky { position: sticky !important; top: 0 }
}
@media (--large) {
  .l\:sticky { position: sticky !important; top: 0 }
}
@media (--xlarge) {
  .xl\:sticky { position: sticky !important; top: 0 }
}
