/*----------------------------------------
app.css / x
App styles

Created by Andrey Shpigunov at 20.03.2025
All right reserved.
----------------------------------------*/


@import "./x.css";


:root {
    /* x */
    --font-color: #000;
    --background-color: #fff;
    /* --link-transition: all .15s ease-out; */
    --code-font-size: 14px;
    --code-font-color: #000;
    --code-background-color: var(--color-grey);
}


@media (--dark) {
    :root {
      /* x */
        --font-color: #ddd;
        --background-color: #1a1a1a;
        --link-color: #8bcdff;
        /* --link-color-hover: #8bcdff; */
        /* --link-color-visited: #8bcdff; */
        --link-decoration-color: #8bcdff44;
        --modal-background: #2a2a2a;
        --code-font-color: #eee;
        --code-background-color: #333;
        --table-border-color: #666;
    }
    
    hr {
        background-color: #333;
    }
}




.foot {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "menu" "logo" "copyright";
}
.foot-menu {
  grid-area: menu;
}
.foot-logo {
  grid-area: logo;
  
  & img {
    width: 100px;
    height: 100px;
    min-width: 100px;
  }
}
.foot-copyright {
  grid-area: copyright;
}

@media (--medium) {
  .foot {
    grid-template-rows: 1fr;
    grid-template-columns: 140px 1fr 200px;
    grid-template-areas: "logo menu copyright";
  }
}




.header {
    z-index: 100;
    height: 100px;
    will-change: height;
    
    @media (--medium) {
        height: 120px;
    }
}
.header_compact {
    
}
.header-version {
    width: 40px;
    font-weight: 700;
}
.header-logo {
    transform-origin: top;
    
    & a {
        display: block;
    }
    & img {
        max-width: 100px;
        will-change: transform;
        
        @media (--medium) {
            max-width: 120px;
        }
    }
}
.header-github {
    
    & a {
        display: block;
        width: 40px;
        height: 40px;
        background-image: url('../assets/github-mark.png');
        background-position: center;
        background-size: cover;
        
        @media (prefers-color-scheme: dark) {
            background-image: url('../assets/github-mark-white.png');
        }
    }
}

.modalNavigation {
    z-index: 10;
}
.modalNavigation-inner {
    display: flex;
    gap: 10px;
    padding: 10px 0;
}
.modalNavigation a {
    cursor: pointer;
    padding: 4px 14px;
    color: #000;
    background: #fff;
    border: solid 1px #000;
    border-radius: 100px;
    
    &.active {
        color: #fff;
        background: #000;
    }
    
    @media (prefers-color-scheme: dark) {
        color: #eee;
        background: #222;
        border: solid 1px #222;
        
        &.active {
            color: #000;
            background: #fff;
        }
    }
}


code {
    padding: 2px;
    font-size: var(--code-font-size);
    color: var(--code-font-color);
    background: var(--code-background-color);
}
.codeBlock {
    position: relative;
    padding: 16px 20px 16px 10px;
    background: var(--code-background-color);
    counter-reset: row 0;
    border-radius: 8px;
    
    &:before {
        content: '</>';
        position: absolute;
        top: 16px;
        right: 16px;
        letter-spacing: 1px;
        line-height: 1;
        font-weight: 500;
        font-size: 18px;
        font-family: var(--font-family-mono);
        color: #ccc;
    }
    
    & code {
        display: flex;
        counter-increment: row 1;
        line-height: 1.4;
        
        &:before {
            content: counter(row);
            user-select: none;
            width: 30px;
            margin-right: 20px;
            color: #ccc;
            text-align: right;
        }
    }
}

.button code {
    color: inherit;
    background: inherit;
}


.plugins-item {
    width: 100%;
    color: #fff;
    background: #000;
}
.plugins-inner {
    padding: var(--space-4);
}
.plugins-title {
    font-size: 24px;
    font-weight: 600;
}
.plugins-description {
    margin-top: 4px;
    font-size: 14px;
}
.plugins-item:nth-child(2n) {
    color: #000;
    background: #fff;
}


.ruler {
    position: fixed;
    z-index: 100;
    bottom: 20px;
    right: 20px;
    padding: 0 10px;
    line-height: 26px;
    font-size: .8rem;
    color: #fff;
    background: #222;
    border-radius: 6px;
}


.headerMenu {
    height: 60px;
    margin-bottom: 30px;

    & ul {
        display: flex;
        align-items: center;
        height: 60px;
        list-style: none;
        padding: 0;

        & li {
            margin-right: 20px;

            &.active {
                font-weight: 700;
            }
            & a {
                transition: all .15s;
            }
        }
    }

    @media (max-width: 639px) {
        & {
            display: none;
        }
    }
}




.element1 {
    position: absolute;
    z-index: -1;
    left: 10vw;
    width: 120px;
    height: 120px;
    opacity: 0;
    transform-origin: center;
    
    &.active {
        opacity: .5;
        transition: opacity 1s ease-out,
                    transform .2s ease-out;
    }
}
.element1-figure {
    position: absolute;
    inset: 0;
    border: solid 1px #666;
    animation: fly linear 40s;
    animation-iteration-count: infinite;
}

.element2 {
    position: absolute;
    z-index: -1;
    right: 10vw;
    width: 180px;
    height: 1px;
    margin-top: 200px;
    opacity: 0;
    
    &.active {
        opacity: .5;
        transition: opacity 1s ease-out,
                    transform .2s ease-out;
    }
}
.element2-figure {
    position: absolute;
    inset: 0;
    background: #666;
    animation: fly linear 40s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}

.element3 {
    position: absolute;
    z-index: -1;
    left: 10vw;
    width: 140px;
    height: 140px;
    margin-top: 30px;
    opacity: 0;
    
    &.active {
        opacity: .5;
        transition: opacity 1s ease-out,
                    transform .2s ease-out;
    }
}
.element3-figure {
    position: absolute;
    inset: 0;
    animation: fly linear 40s;
    animation-iteration-count: infinite;
    animation-delay: 4s;
    
    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 70px;
        width: 140px;
        height: 1px;
        background: #666;
    }
    &:after {
        transform: rotate(90deg);
    }
}


@keyframes fly {
    0% {
        transform:translate(0, 0) rotate(0)
    }

    10% {
        transform:translate(-20px, -30px) rotate(-10deg)
    }

    20% {
        transform:translate(-30px, -10px) rotate(0)
    }

    31% {
        transform:translate(-20px, 20px) rotate(-10deg)
    }

    40% {
        transform:translate(-10px, 0) rotate(10deg)
    }

    50% {
        transform:translate(-10px, -20px)
    }

    60% {
        transform:translate(0, 0) rotate(0)
    }

    70% {
        transform:translate(20px, 20px) rotate(-10deg)
    }

    80% {
        transform:translate(30px, 0) rotate(0)
    }

    90% {
        transform:translate(20px, -30px) rotate(10deg)
    }

    100% {
        transform:translate(0, 0) rotate(0)
    }
}
